<div class="col-12 md:col-6 lg:col-7 shadow-2 py-3 pt-5 border-3 border-round-3xl bg-cover ">
  <span class="text-4xl font-medium">Manna Wallet</span>
  <hr/>
  <div class="flex justify-content-evenly align-items-center text-lg font-light fluid">
    <div class="flex align-items-center">
      <img src="../../assets/images/manna_logo.png" class="image-logo mr-2">
      <span class="text-900 font-medium text-xl">manna</span>
    </div>
    <div>
      <h2 class="m-0">{{mannaToClaimService.getBalance$}}</h2>
    </div>
  </div>
  <hr/>
  <div class="flex justify-content-center">
    <p>Daily Manna:</p>
    <p>7 available</p>
  </div>
  <div class="button-get-started">
    <button class="custom-button" (click)="metamaskBrightIdService.tryClaim()">
      <p class="flex justify-content-center my-0 text-xl font-bold text-white">
        {{
          metamaskBrightIdService.isConnected$.getValue()
          ? (metamaskBrightIdService.isCorrectNetwork()
            ? (metamaskBrightIdService.verificationStatus$.getValue() ? 'Claim' : 'Verify')
            : 'Change to ID Chain')
          : 'Connect MetaMask'
        }}
      </p>
    </button>
  </div>
</div>
