@import "../../../variables";
.wallet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}
.wallet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mannabase {
    font-size: 80px;
    margin-bottom: 0px;
}
.title {
    display: flex;
    gap: 20px;
    font-size: 40px;
    margin-bottom: 10px;
    &--trade {
        color: #fc568e;
    }
    &--create {
        color: #f76871;
    }
}
.buttun {
    display: flex;
    background-image: linear-gradient(91deg, #fc568e 0%, #f96971 100%);
    border-radius: 12px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 70%;
    cursor: pointer;
    &--icon {
        font-size: 20px;
        font-weight: 500;
    }
    &--text {
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 1px;
    }
}

.wallets {
    &--welcome {
        position: absolute;
        top: 50px;
        left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        text-align: left;
        margin-bottom: 60px;
        &--text {
            color: $gray-text;
            margin: 0;
            font-size: 18px;
            font-weight: 900;
        }
        &--mannabase {
            margin-top: 0;
            font-size: 30px;
            font-weight: 900;
        }
    }
    &--options {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(29, 29, 29, 0.45);
        box-shadow: 0px 4px 50px #262626 inset;
        border-radius: 4px;
        padding: 40px 30px;
        gap: 30px;
        &--connect {
            font-size: 36px;
        }
        &--buttuns {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            background-color: #2b2b2b;
            padding: 20px;
            border-radius: 5px;
            gap: 20px;
            cursor: pointer;
            &--text {
                font-size: 20px;
                font-weight: 800;
                letter-spacing: 1px;
                flex-grow: 1;
            }
        }
    }
}
.panel {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: calc(100vh - 60px);
    width: 100%;
    &--welcome {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        align-items: start;
        text-align: left;
        margin-bottom: 30px;
        &--welcome {
            margin-top: 0;
            font-size: 30px;
            font-weight: 900;
        }
        &--overview {
            color: $gray-text;
            margin: 0;
            font-size: 15px;
            font-weight: 900;
        }
    }
    &--dashboard {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
        position: relative;
        &--balance {
            width: 70%;
            border-radius: 6px;
            background-image: linear-gradient(
                96deg,
                #fc5590 2.79%,
                #f96971 97.87%
            );
            padding: 40px;
            &--amount {
                display: flex;
                flex-direction: column;
                margin: 20px 0px;
                &--text {
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                &--number {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    &--manna {
                        font-size: 40px;
                        font-weight: 900;
                    }
                }
            }
            &--details {
                display: flex;
                margin: 40px 0px;
                &--info {
                    display: flex;
                    min-width: 200px;
                    gap: 10px;
                    &--img {
                        border-radius: 6px;
                        background: rgba(255, 255, 255, 0.19);
                        padding: 10px;
                    }
                }
                &--amount {
                }
            }
        }
        &--daily {
            width: 25%;
            border-radius: 8px;
            border: 2px solid rgba(255, 115, 126, 0.62);
            background: rgba(255, 255, 255, 0.11);
        }
    }
}
@media #{$tablet} {
    .wallet {
        min-width: 0px;
    }
}
@media #{$mobile} {
    .wallet {
        min-width: 0px;
    }
}
