@import "../../../variables";

.wallet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    // overflow-y:hidden;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--mannabase {
        font-size: 80px;
        margin-bottom: 0px;
    }
    &--title {
        display: flex;
        gap: 20px;
        font-size: 40px;
        margin-bottom: 10px;
        &--trade {
            color: #fc568e;
            font-weight: bolder;
        }
        &--create {
            color: #f76871;
            font-weight: 900;
        }
        &--market {
            font-weight: 900;
        }
    }
    &--buttun {
        display: flex;
        background-image: linear-gradient(91deg, #fc568e 0%, #f96971 100%);
        border-radius: 12px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 70%;
        cursor: pointer;
        &--icon {
            font-size: 20px;
            font-weight: 500;
        }
        &--text {
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 1px;
        }
    }
}
.wallets {
    &--welcome {
        position: absolute;
        top: 50px;
        left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        text-align: left;
        margin-bottom: 60px;
        &--text {
            color: $gray-text;
            margin: 0;
            font-size: 18px;
            font-weight: 900;
        }
        &--mannabase {
            margin-top: 0;
            font-size: 30px;
            font-weight: 900;
        }
    }
    &--options {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(29, 29, 29, 0.45);
        box-shadow: 0px 4px 50px #262626 inset;
        border-radius: 4px;
        padding: 40px 30px;
        gap: 30px;
        margin-bottom: -150px;
        &--connect {
            font-size: 36px;
        }
        &--buttuns {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            background-color: #2b2b2b;
            padding: 20px;
            border-radius: 5px;
            gap: 20px;
            cursor: pointer;
            &--text {
                font-size: 20px;
                font-weight: 800;
                letter-spacing: 1px;
                flex-grow: 1;
            }
        }
    }
}
.panel {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: calc(100vh - 0px);
    width: 100%;
    margin-top: 100px;
    overflow-y: hidden;
    &--welcome {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        align-items: start;
        text-align: left;
        margin-bottom: 30px;
        &--welcome {
            margin-top: 0;
            font-size: 30px;
            font-weight: 900;
        }
        &--overview {
            color: $gray-text;
            margin: 0;
            font-size: 15px;
            font-weight: 900;
        }
    }
    &--dashboard {
        display: flex;
        flex-direction: row;
        width: 100%;
        // height: 40%;
        gap: 20px;
        position: relative;
        &--balance {
            width: 70%;
            border-radius: 6px;
            padding: 40px;
            background-image: linear-gradient(
                96deg,
                #fc5590 2.79%,
                #f96971 97.87%
            );
            &--amount {
                display: flex;
                flex-direction: column;
                margin: 20px 0px;
                &--text {
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                &--number {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    &--count {
                        font-size: 40px;
                        font-weight: 900;
                    }
                    &--manna {
                        margin-bottom: 0px;
                    }
                    &--logo{
                        margin-bottom: -5px;
                    }
                }
            }
            &--details {
                display: flex;
                margin: 40px 0px;
                &--info {
                    display: flex;
                    min-width: 200px;
                    gap: 10px;
                    align-items: center;
                    &--img {
                        border-radius: 6px;
                        background: rgba(255, 255, 255, 0.19);
                        padding: 10px;
                    }
                    &--text {
                        align-items: center;
                        font-size: 14px;

                        &--img {
                            margin-right: 5px;
                            height: 20px;
                        }
                        &--num {
                            font-size: 20px;
                            font-weight: 700;
                        }
                    }
                }
                // &--witdraw{

                // }
            }
        }
        &--daily {
            width: 25%;
            border-radius: 8px;
            border: 2px solid rgba(255, 115, 126, 0.62);
            background-color: #393939;
            &--header {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                padding: 20px;
                background-color: #202429;
                border-radius: 6px 6px 0px 0px;
                &--star {
                    background-color: #ffffff0f;
                    border-radius: 50%;
                }
                &--reward {
                    color: #ffde31;
                    font-size: 20px;
                    font-weight: 600;
                }
                &--number {
                    font-size: 15px;
                    font-weight: 500;
                }
            }
            &--claim {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 15px;
                &--text {
                    font-size: 12px;
                    color: $gray-text;
                    text-align: center;
                }
                &--buttun {
                    padding: 10px 60px 10px 60px;
                    flex-shrink: 0;
                    border-radius: 38px;
                    background: linear-gradient(
                        180deg,
                        #fc5590 0%,
                        #f96971 100%
                    );
                    font-size: 15px;
                    font-weight: 600;
                    border: none;
                    cursor: pointer;
                    &--text{
                        color: white;
                    }
                    &:first-child {
                        --tui-action-color: var(--tui-positive);
                        --tui-action-background: var(--tui-success-bg);
                    }

                    &:last-child {
                        --tui-action-color: var(--tui-negative);
                        --tui-action-background: var(--tui-error-bg);
                    }
                }
            }
        }
        &--withdraw {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            border: 1px white solid;
            border-radius: 6px;
            color: white;
            padding: 10px;
            font-size: 13px;
            font-weight: 600;
            cursor: pointer;
            background: none;
        }
        &--withdraw.unverified {
            cursor: not-allowed;
        }
        &--buttons {
            display: none;
            justify-content: end;
            gap: 10px;
            
            &--withdraw-mobile{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                border: 1px white solid;
                border-radius: 6px;
                color: white;
                padding: 10px;
                font-size: 13px;
                font-weight: 600;
                cursor: pointer;
                background: none;
            }
            &--daily {
                display: flex;
                justify-content: center;
                width: 100px;
                border-radius: 6px;
                color: #fb588a;
                background-color: white;
                padding: 10px 0px;
                font-size: 13px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
    &--transactions {
        // height: 40%;
        padding: 30px;
        margin-top: 30px;
        border-radius: 6px;
        background-color: #2c2c2c;
        &--header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            &--title {
                font-size: 25px;
                font-weight: 900;
            }
            &--filters {
                display: flex;
                justify-content: end;
                &--date {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                }
                &--type {
                    display: flex;
                    gap: 10px;
                }
                .default {
                    border: 3px solid #8F8F8F;
                    border-radius: 6px;
                    width: 90px;
                    cursor: pointer;
                    color: #8F8F8F;
                    font-size: 12px;
                    background-color: inherit;

                }
                .selected {
                    background: linear-gradient(
                        180deg,
                        #fc699a 0%,
                        #fa7883 100%
                    );
                    border: none;
                    border-radius: 6px;
                    width: 90px;
                    cursor: pointer;
                    color: white;
                    font-size: 12px;
                }
            }
        }
        &--table {
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: #d9d9d91f;
            margin-bottom: 5px;
            border-radius: 4px;
            &--row {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                font-weight: 800;
                &--type{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 30px;
                    font-weight: 800;
                }
            }
            .received {
                color: #77e7af;
            }

            .withdraw {
                color: #e0706d;
            }
            .italic {
                font-style: italic; 
            }
        }
    }
}
.spacer{
    flex-grow: 1;
}

@media #{$tablet} {
    .intro {
        min-width: 0px;
        &--logo {
            width: 20%;
            height: 20%;
        }
        &--mannabase {
            font-size: 40px;
            font-weight: 100;
        }
        &--title {
            gap: 5px;
            &--trade {
                font-family: "Nexa Light" !important;
                font-size: 20px;
                font-weight: 700;
            }
            &--create {
                font-family: "Nexa Light" !important;
                font-size: 20px;
                font-weight: 700;
            }
            &--market {
                font-family: "Nexa Light" !important;
                font-size: 20px;
                font-weight: 700;
            }
        }
        &--buttun {
            gap: 10px;
            padding: 15px 20px;
            &--icon {
                font-size: 12px;
                font-weight: 800;
            }
            &--text {
                font-size: 12px;
                font-weight: 800;
            }
        }
    }
    .wallets {
        &--welcome {
            display: none;
        }
        &--options {
            width: 70%;
            margin-bottom: 0px;
            &--connect {
                font-size: 20px;
            }
            font-size: 20px;
            &--buttuns {
                width: 100%;
                &--icon {
                    width: 25px;
                }
                &--text {
                    font-size: 15px;
                }
            }
        }
    }
    .panel {
        padding: 10px;
        &--welcome {
            display: none;
        }
        &--dashboard {
            &--balance {
                padding: 10px;
                width: 100%;
                &--amount {
                    &--text {
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                    &--number {
                        &--logo {
                            width: 25px;
                            height: 25px;
                        }
                        &--count {
                            font-size: 30px;
                            font-weight: 900;
                        }
                    }
                }
                &--details {
                    &--info {
                        min-width: 150px;
                        &--img {
                            height: 20px;
                        }
                        &--text {
                            font-size: 10px;

                            &--img {
                                margin-right: 5px;
                                height: 13px;
                            }
                            &--num {
                                font-size: 15px;
                                font-weight: 600;
                            }
                        }
                    }
                }
                &--buttons{
                    &--withdraw{
                        display: none;
                    }
                    &--withdraw-mobile{
                        display: flex;
                    }
                }
            }
            &--daily {
                display: none;
            }
            &--withdraw{
                display: none;
            }
            &--buttons {
                display: flex;
            }
        }
        &--transactions{
            display: none;
        }
    }
}
@media #{$mobile} {
    .intro {
        min-width: 0px;
        &--logo {
            width: 20%;
            height: 20%;
        }
        &--mannabase {
            font-size: 40px;
            font-weight: 100;
        }
        &--title {
            gap: 5px;
            &--trade {
                font-family: "Nexa Light" !important;
                font-size: 20px;
                font-weight: 700;
            }
            &--create {
                font-family: "Nexa Light" !important;
                font-size: 20px;
                font-weight: 700;
            }
            &--market {
                font-family: "Nexa Light" !important;
                font-size: 20px;
                font-weight: 700;
            }
        }
        &--buttun {
            gap: 10px;
            padding: 15px 20px;
            &--icon {
                font-size: 12px;
                font-weight: 800;
            }
            &--text {
                font-size: 12px;
                font-weight: 800;
            }
        }
    }
    .wallets {
        &--welcome {
            display: none;
        }
        &--options {
            width: 70%;
            margin-bottom: 0px;
            &--connect {
                font-size: 20px;
            }
            font-size: 20px;
            &--buttuns {
                width: 100%;
                &--icon {
                    width: 25px;
                }
                &--text {
                    font-size: 15px;
                }
            }
        }
    }
    .panel {
        padding: 10px;
        &--welcome {
            display: none;
        }
        &--dashboard {
            &--balance {
                padding: 10px;
                width: 100%;
                &--amount {
                    &--text {
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                    &--number {
                        &--logo {
                            width: 25px;
                            height: 25px;
                        }
                        &--count {
                            font-size: 30px;
                            font-weight: 900;
                        }
                    }
                }
                &--details {
                    &--info {
                        min-width: 150px;
                        &--img {
                            height: 20px;
                        }
                        &--text {
                            font-size: 10px;

                            &--img {
                                margin-right: 5px;
                                height: 13px;
                            }
                            &--num {
                                font-size: 15px;
                                font-weight: 600;
                            }
                        }
                    }
                }
                
            }
            &--daily {
                display: none;
            }
            &--withdraw{
                display: none;
            }
            &--buttons {
                display: flex;
            }
        }
        &--transactions{
            display: none;
        }
    }
}
