<div class="wallet">
    <h4 class="m-0">Manna Wallet</h4>
    <hr class="gray-line" />
    <div class="balance">
        <div class="balance--logo">
            <img
                src="../../assets/images/manna_logo.png"
                class="image-logo mr-2"
            />
            <span class="manna-text">manna</span>
        </div>
        <div class="ml-4">
            <!-- <h2 class="m-0">{{ balance }}</h2> -->
            456.56
        </div>
    </div>
    <hr class="gray-line" />
    <div class="claimble">
        <p class="claimble--daily">Daily Manna:</p>
        <p class="claimble--available">7 available</p>
    </div>
    <div class="button-container">
        <button class="button" (click)="openClaimDialog()">
          CLAIM
        </button>
    </div>
</div>
