<p-toolbar class="header">
  <div class="p-toolbar-group-start">
    <!-- <button pButton icon="pi pi-bars" class="p-button-rounded p-button-text" (click)="display = true"></button> -->
    <img src="../../assets/images/header_manna_logo.png" class="logo-header">
    <h2 class="mx-4 font-light">mannabase</h2>
  </div>
  <div class="p-toolbar-group-end">
    <p-menubar [model]="menuItems" styleClass="menubar" >
    </p-menubar>
    <img src="../../assets/images/wallet_button.png"  class="wallet-header">
  </div>
</p-toolbar>


<!-- <p-sidebar [(visible)]="display">
  <ng-template pTemplate="header">
    <h2 style="font-weight:normal">Menu</h2>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="flex flex-column w-full">
      <p-menu [model]="items" class="w-full side-bar-menu"></p-menu>
    </div>
  </ng-template>
</p-sidebar> -->

<!-- <header>
  <p-header>
    <div class="header-content">
      <div class="logo"><img src="../../assets/images/header_manna_logo.png" style="width: 4rem;"></div>
      <p-menubar [model]="menuItems"></p-menubar>
    </div>
    <button pButton type="button" icon="pi pi-bars" class="hamburger-menu" (click)="toggleMenu()"></button>
  </p-header>
</header> -->

