<p-toolbar class="header">
  <div class="p-toolbar-group-start">
    <!-- <button pButton icon="pi pi-bars" class="p-button-rounded p-button-text" (click)="display = true"></button> -->
    <img src="../../assets/images/header_manna_logo.png" class="logo-header">
    <h2 class="mx-4 font-light">mannabase</h2>
  </div>
  <div class="p-toolbar-group-end">
    <p-menubar [model]="menuItems" styleClass="menubar" >
    </p-menubar>
    <img src="../../assets/images/wallet_button.png"  class="wallet-header">
  </div>
</p-toolbar>


