.my-header {
  background-color: #383838;
}

.black-background {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 300px, rgba(56, 56, 56, 1) 300px);
}

.button-header {
  color: aliceblue;
}

.side-bar-menu {
  ::ng-deep .p-menu {
    width: 100%;
    background: none;
    border: none;
  }
}

.wallet-header {
  width: 200px;
}

.logo-header {
  width: 3rem;
  height: 3rem;
}

:host ::ng-deep {
  .menubar.p-menubar {
    border: none;
    background: #383838;
  }

  .p-toolbar {
    background: #383838;
  }
}

@media only screen and (max-width: 768px) {
  header {
    .p-menubar {
      display: none;
    }

    .hamburger-menu {
      display: block;
    }
  }
  .wallet-header {
    display: none;
  }
  .logo-header {
    display: none;
  }
  :host ::ng-deep {
    .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
      right: 0;
      min-width: 120px;
    }
  }
}
