@import "../../variables";

.my-header {
  // background-color: $background-color;
  height: $header-height;
}

.black-background {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 300px, rgba(56, 56, 56, 1) 300px);
}
.scrolled {
  background-color: $background-color-header-scrolled; 
  backdrop-filter: blur(4px);
  transition: background-color 0.3s ease;
  height: $header-height;
}
.button-header {
  color: aliceblue;
}

.side-bar-menu {
  ::ng-deep .p-menu {
    width: 100%;
    background: none;
    border: none;
  }
}

.wallet-header {
  border: 2px dashed white;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  // width: 400px;
  background:  linear-gradient(90deg,
  $gradient-wallet-header-start 50%,
  $gradient-wallet-header-end 100%);
  padding: auto;
}

.logo-header {
  width: 1.5rem;
  height: 2rem;
}

.menu-bar {
  padding: 10px;
  display: flex;
  align-items: center;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-button {
  margin-right: 20px;
  font-size: 1.2em;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  padding: 8px;
  border-radius: var(--manna-border-radius);
}

.menu-item a:hover {
  color: #fbb8d5;
}

.menu-item a.active {
  color: rgb(241, 99, 151);
}

.menu-item i {
  font-size: 24px;
}


.hamburger-menu {
  display: none;
  cursor: pointer;
}

.side-bar-menu {
  ::ng-deep .p-menu {
    width: 100%;
    background: none;
    border: none;
  }

  ::ng-deep .p-menuitem-link {
    border-radius: var(--manna-border-radius);
  }
}

.side-bar {
  background-color: #383838;
}
.account-button {
  justify-content: start;
  background-image: $get-started-button-background;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  // padding: 8px 8px;
  font-size: 16px;
  cursor: pointer;
  border: 0px;
  border-radius: $manna-border-radius;
  max-width: 200px;
  min-width: 150px;

  :disabled {
      background-image: None;
      background-color: gray;
  }
  :hover {
    color: $links-color-main-hover;
  }
}
@media #{$tablet} {
  .black-background{
    background: rgb(0, 0, 0);
  }
}
@media #{$mobile} {
  .black-background{
    background: rgb(0, 0, 0);
  }
  .logo-container {
    display: none;
  }
}