.header {
  background: #383838;
}

.button-header {
  color: aliceblue;
}

.side-bar-menu {
  ::ng-deep .p-menu {
    width: 100%;
    background: none;
    border: none;
  }
}

.wallet-header{
  width: 200px;
}
.logo-header{
  width: 4rem;
}

:host ::ng-deep {
  .menubar.p-menubar{
    border: none;
    background:#383838 ;
  }
  .p-toolbar{
    background:#383838 ;
  }
}


@media only screen and (max-width: 768px) {
  header {
    .p-menubar {
      display: none;
    }

    .hamburger-menu {
      display: block;
    }
  }
  .wallet-header{
    display: none;
  }
  .logo-header{
    display: none;
  }
  :host ::ng-deep {
    .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
      right: 0;
      min-width: 120px;
    }
  }
}
