<div class="my-header flex flex-row justify-content-between align-items-center p-2"
     [ngClass]="{ 'black-background': isAccountPage }" (onResize)="handleResize($event)">
  <div class="flex flex-row gap-2 align-items-center">
    <button tuiIconButton *ngIf="showBurgerMenu" icon="tuiIconMenu" appearance="flat" size="s"
            (click)="toggleSideBar(true)" (tuiActiveZoneChange)="toggleSideBar($event)">

      <div *tuiSidebar="displaySideBar; direction: 'left'" class="h-full">
        <div class="side-bar flex flex-column w-full h-full">
          <span class="text-lg p-3 text-600">Menu</span>
          <div class="flex flex-column">
            <button *ngFor="let item of menuItems" tuiButton appearance="flat" size="m">
              <a tuiLink class="w-full p-2 pl-3"
                 [routerLink]="item.routerLink" (click)="toggleSideBar(false)">
                {{item.label}}
              </a>
            </button>
          </div>
        </div>
      </div>

    </button>
    <img src="../../assets/images/header_manna_logo.png" class="logo-header">
    <h2 class="font-light m-0">mannabase</h2>
  </div>
  <div class="flex flex-row gap-2 align-items-center">

    <nav class="menu-bar" *ngIf="!showBurgerMenu">
      <ul class="menu-list" [ngClass]="{ 'show-menu': showBurgerMenu }">
        <ng-container *ngFor="let item of menuItems">
          <li class="menu-item" *ngIf="item.label && !item.icon">
            <a [routerLink]="item.routerLink" [routerLinkActive]="['active']"
               [routerLinkActiveOptions]="{ exact: true }">
              {{ item.label }}
            </a>
          </li>
          <li class="menu-item" *ngIf="item.icon">
            <a [routerLink]="item.routerLink" [routerLinkActive]="['active']"
               [routerLinkActiveOptions]="{ exact: true }">
              <i class="{{ item.icon }}"></i>
            </a>
          </li>
        </ng-container>
      </ul>
    </nav>

    <div class="custom-button" *ngIf="walletAddress">
      {{ walletAddress | slice:0:6 }}...{{ walletAddress | slice:-4 }}
    </div>
  </div>
</div>
