@import "../../variables";


.footer-desktop {
    width: $width-of-mainPage-desktop;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image-logo {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    border-radius: 50%;
    background: linear-gradient(
        120deg,
        $image-logo-start 0%,
        $image-logo-end 13%
    );
        
}
.mannabase-footer {
    align-self: center;
    margin: 0px;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}





@media #{$tablet} {
    .blocks {
        width: $width-of-mainPage-table;
    }
    .flex-container {
        padding: 0px 20px 0px 20px;
    }
    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        display: flex;
    }
}
@media #{$mobile} {
    .blocks {
        width: $width-of-mainPage-mobile;
    }
    .flex-container {
        padding: 0px 20px 0px 20px;
    }
    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        display: flex;
    }
}
