<div class="footer-desktop" *ngIf="!isAccount">
    <hr class="line">
    <div class="flex justify-content-center">
        <div class="flex-container">
            <div class="col-12 md:col-6 lg:col-4 p-3 mt-2">
                <div class="flex mb-3">
                    <img
                        src="../../assets/images/governed_manna_logo.webp"
                        class="image-logo mr-2"
                    />
                    <p class="mannabase-footer">mannabase</p>
                </div>
                <p class="text mt-2">
                    Mannabase is the hub for Manna.
                </p>
                <p class="text">
                    Manna is a digital
                    token that everyonein the world can claim
                </p>
            </div>
            <div class="p-3">
                <p class="mannabase-footer mb-3">
                    Explore
                </p>
                <div class="footer-links">
                    <a tuiLink class="text"> Dashboard </a>
                    <a tuiLink class="text"> Open App </a>
                    <!-- <a tuiLink> Aboat </a>
                    <a tuiLink> FAQ </a> -->
                    <a></a>
                </div>
            </div>
            <div class="p-3">
                <p class="mannabase-footer mb-3">
                    Social
                </p>
                <div class="footer-links">
                    <a tuiLink class="text"> Twitter </a>
                    <a tuiLink class="text"> Medium </a>
                    <!-- <a tuiLink> Disacord </a>
                    <a tuiLink> Telegram </a> -->
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-2 p-3">
                <p class="mannabase-footer mb-3">
                    Email
                </p>
                <a tuiLink class="text"> team@headeforhumanity.org </a>
            </div>
        </div>
    </div>
    <hr class="line">
    <p class="copyRight">
        @mannabasecopyright2023
    </p>
</div>
<!-- footer for mobile version -->
<!-- <div class="footer-mobile">
    <img
        src="../../assets/images/Manna_logo_footer.png"
        class="image-logo image-logo--footer mr-2"
    />
    <p class="text-900 font-medium text-xl mt-0">mannabase</p>
    <div class="flex gap-3">
        <i class="fa-brands fa-twitter fa-2xl"></i>
        <i class="fa-brands fa-github fa-2xl"></i>
        <i class="fa-solid fa-m fa-2xl"></i>
        <i class="fa-brands fa-telegram fa-2xl"></i>
        <i class="fa-brands fa-discord fa-2xl"></i>
    </div>
    <a tuiLink class="mt-5 mb-5"> team@headeforhumanity.org </a>
</div> -->