.image-logo {
  width: 3rem;
}

.icon-image {
  height: 30px;
  margin-right: 1rem;
}


.button-get-started {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.tabes {
  height: 100vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.card-text {
  color: #282828;
  margin: 0;
  font-weight: 800;
}

.collection-scroll {
  overflow: auto;
  height: 600px;
}

.copy{
  display: flex;
  cursor: pointer;
  column-gap: 10px;
}

.wallet-address {
  background-color: #282828;
}
