<div class="account-container">
  <div class="account--info">
    <div class="account--info--account">Account</div>
    <div class="account--info--text">overview</div>
  </div>
  <div class="account--humanity">
      <div class="account--humanity--header">
        <div >
          <h2 class="mb-1">Proof of Humanity</h2>
          <div class="account--humanity--header--text">
             We use Gitcoin Passport to verify you are a unique human. 
            <img src="../../../assets/images/accunt-account-information.svg" alt="information" class="account--humanity--header--text--icon"> 
         </div>
        </div>
        <img src="../../../assets/images/accunt-account-fingerprint.png" alt="fingerprint" 
        class="account--humanity--header--fingerprint">
        <img src="../../../assets/images/accunt-account-fingerprint-mobile.svg" alt="fingerprint" 
        class="account--humanity--header--fingerprint-mobile">
      </div>
      <div class="account--humanity--passport">
        <!-- <div *ngIf="loader" class="loader-overlay">
          <div class="loader"></div>
      </div> -->
      <div class="account--humanity--passport--container" *ngIf="showScore">
        <div class="account--humanity--passport--score">
          <div class="flex mb-1 gap-1">
            <div class="account--humanity--passport--score--text">
              Your Score:
            </div>
            <div *ngIf="userScore" class="account--humanity--passport--score--num" 
                [ngStyle]="{'color': isScoreGreaterThan25 ? 'green' : 'white'}">
                {{ (userScore.score / 1000000) | number : '1.0-6' }}
            </div>
            <img *ngIf="isScoreGreaterThan25" class="account--humanity--passport--score--icon" src="../../../assets/images/account-account-green-Check.svg">
          </div>
          <div class="flex gap-1">
            <div class="account--humanity--passport--thresold--text">
              Score Threshold:
            </div>
            <div class="account--humanity--passport--thresold--num">
              {{ scoreThreshold || 'loading...' }}
            </div>
          </div>
        </div>
        <div class="account--humanity--passport--update" (click)="updateUserScore()">
          <ng-container *ngIf="loader; else updateScoreText">
              <span>Loading...</span>
          </ng-container>
          <ng-template #updateScoreText>
              Update Score
          </ng-template>
        </div>
      </div>
      <div class="account--humanity--passport--connect-buttun" 
        (click)="openMetamaskExtension()" *ngIf="state == MetamaskState.NOT_CONNECTED && !showScore">
          Connect
      </div>
      <div class="account--humanity--passport--connect-buttun" 
        (click)="switchChain()" *ngIf="state == MetamaskState.WRONG_CHAIN && !showScore">
          Arbitrum
      </div>
      <div class="account--humanity--passport--connect-buttun" 
        *ngIf="state == MetamaskState.READY && !showScore">
          Check Score
      </div>
      
        <div class="account--humanity--passport--passport">
          <img src="../../../assets/images/accunt-account-gitcoin.png" alt="fingerprint" class="account--humanity--passport--gitcoin">
          <p class="m-0">Passport</p>
        </div>
      </div>
      <div class="account--humanity--passport-mobile">
        <div class="account--humanity--passport-mobile--passport">
          <img src="../../../assets/images/accunt-account-gitcoin.png" alt="fingerprint" class="account--humanity--passport--gitcoin">
          <p class="account--humanity--passport-mobile--passport--text">Passport</p>
        </div>
        <div class="account--humanity--passport-mobile--connect-buttun">
          Connect
        </div>
      </div>
  </div>
  <div class="account--email">
    <div class="account--email--title">Email Newsletter</div> 
    <div class="account--email--box">
      <input type="email" class="account--email--box--input" placeholder="Enter your email" />
      <button class="account--email--box--update">Update</button>
    </div>
  </div>
</div>
