<div class="about">
    <div class="about--intro">
        <div class="about--intro--text">
            <h2>
                ABOUT
            </h2>
            <span class="about--intro--text--description">
                Manna is a digital currency distributed 1-per-day to every person.
                The distribution model is based on the principles of universal basic income.
            </span>
            <span class="about--intro--text--description">
                The value is equal to each human living one day.
                The purpose of Manna is create the most accesible, widely distributed currency on earth.
            </span>
            <span class="about--intro--text--description">
                Unlike currencies like USD, EURO, Bitcoin, and Gold, new value creation is distributed directly to the user base.
                This stems from the understanding that users in an economy generate the value of its currency through their s hared belief and use.
            </span>
            <button class="about--intro--text--learn">
                <a class="about--intro--text--learn--inner" tuiLink>
                        Learn More
                </a>
            </button>
        </div>
        <img src="../../assets/images/account-manna-logo.svg" 
            alt="Manna-logo" class="about--intro--logo">
    </div>
    <tui-accordion class="container">
        <tui-accordion-item>
          Taiga UI cdk
          <ng-template tuiAccordionItemContent>
            Development kit consisting of the low level tools and abstractions used to develop Taiga UI Angular entities
          </ng-template>
        </tui-accordion-item>
        <tui-accordion-item>
          Taiga UI core
          <ng-template tuiAccordionItemContent>
            <div #content>Basic elements needed to develop components, directives and more using Taiga UI design system</div>
          </ng-template>
        </tui-accordion-item>
        <tui-accordion-item>
          Taiga UI kit
          <ng-template tuiAccordionItemContent>
            The main set of components used to build Taiga UI based Angular applications
          </ng-template>
        </tui-accordion-item>
      </tui-accordion>
</div>
