@import "../../variables";
@import '../../assets/generalStyles/mixins.scss'; 
@import "../../../node_modules/@taiga-ui/core/styles/taiga-ui-local.scss";

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--intro{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        margin: 100px 0px;
        &--text{
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 20px;
            &--description{
                font-size: 20px;
            }
            &--learn{
                @include gradient-border;
                margin-top: 20px;
                &--inner{
                    @include gradient-border-inner;
                    color: white;
                    &:hover{
                      color: $links-color-main;
                    }
                }
            }
        }
        &--logo{
            width: 200px;
        }
    }
} 
:host ::ng-deep .link-style{
  color: $links-color-main !important;
  text-decoration: none ;
  font-weight: 700;
  &:hover{
    color: $links-color-main;
  }
}

.accordion {
    width: 80%;
    .accordion-item-wrapper {
      border: 2px solid #b04c61;
      margin-bottom: 10px;
      border-radius: 10px;
      background: linear-gradient(98deg, rgba(0,0,0,1) 27%, rgba(176,76,97,1) 100%);
      .accordion-item {
        .accordion-title {
          cursor: pointer;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          margin: 10px;
        }
        .accordion-content {
          padding: 0px 20px 20px 20px;
          margin-top: 0px;
          overflow: hidden;
          transition: max-height 0.5s ease-out;
        }
        .accordion-icon{
            font-size: 20px;
        }
      }
    }
  }
  .socials-header{
    margin-top: 100px;
  }
  .socials{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    margin: 40px 0px 10px 0px;
    &--item{
        @include gradient-border;
        &--icon{
            @include gradient-border-inner;
            padding: 20px;
            font-size: 30px;
            cursor: pointer;
            &:hover{
              color: $links-color-main;
            }
        }
    }

  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    gap: 20px;

  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    
  }
  .image{
    display: flex;
    width: 15%;
  }

  @media #{$tablet}{
    .about{
      &--intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 100px 0px;
        &--text{
          display: flex;
          flex-direction: column;
          width: 80%;
          gap: 20px;
          margin-bottom: 50px;
        }
        &--logo{
          display: none;
        }
      }
    }
    .accordion{
      width: 100%;
    }
    .content{
      width: 80%;
    }
    .image{
      display: none;
    }
    .socials{
      width: 90%;
      justify-content: space-between;
    }
  }
  @media #{$mobile}{
    .about{
      &--intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 100px 0px;
        &--text{
          display: flex;
          flex-direction: column;
          width: 80%;
          gap: 20px;
          margin-bottom: 50px;
        }
        &--logo{
          display: none;
        }
      }
    }
    .accordion{
      width: 100%;
    }
    .content{
      width: 80%;
    }
    .image{
      display: none;
    }
    .socials{
      width: 100%;
      justify-content: space-between;
    }
  }