<div class="flex flex-column gap-3 justify-content-center align-items-center w-full" *tuiLet="(metamaskService.metamaskState$ | async) as metamaskState">
    <!-- <div class="flex flex-column gap-2 justify-content-center align-items-center" *ngIf="metamaskState == MetamaskState.NOT_INSTALLED">
        <span>
            Metamask extension is not installed. Please install it to continue.
        </span>
        <button tuiButton (click)="installMetamask()" size="m">Install Metamask</button>
    </div> -->
    <div class="flex flex-column gap-2 justify-content-center align-items-center" *ngIf="metamaskState == MetamaskState.NOT_CONNECTED">
        <span>
            Let's get you started! Please connect your Metamask wallet by clicking the button below
        </span>
        <button tuiButton (click)="metamaskService.connectWallet()" size="m">Connect</button>
    </div>
    <div class="flex flex-column gap-2 justify-content-center align-items-center" *ngIf="metamaskState == MetamaskState.WRONG_CHAIN">
        <span>
            Seems like you're connected to a different chain. Click the button below to switch your network to {{ mannaChain }}.
        </span>
        <button tuiButton (click)="metamaskService.connectWallet()" size="m">Switch Chain</button>
    </div>
</div>
