<div *ngIf="score !== null && threshold !== null" class="score-dialog-container">
  <h3 class="your-score">Your Score</h3>
  <div class="score-value" [ngStyle]="{'color': isScoreGreaterThanThreshold ? 'green' : 'white'}">
    {{ score/ 1000000 | number:'1.0-6' }}
  </div>
  <div class="threshold-value">
    Threshold: {{ threshold }}
  </div>
  <div *ngIf="isScoreGreaterThanThreshold; else increaseScoreText">
    <button *ngIf="!loading" (click)="submitScoreToContract()" class="submit">Submit</button>
    <button *ngIf="loading" class="submit">Submitting...</button>
  </div>
  <ng-template #increaseScoreText class="low-score-message">
    <p>Please increase your score in <a class="gitcoinLink" href="https://passport.gitcoin.co">Gitcoin Passport</a>.</p>
  </ng-template>
</div>
<div *ngIf="score === null || threshold === null" class="loading">
  Loading...
</div>

<!-- <div>
  <p>Your score: {{ score }}</p>
  <p>Threshold: {{ threshold }}</p>
  <div *ngIf="isScoreGreaterThanThreshold; else increaseScoreText">
    <button (click)="submitScoreToContract()">Submit</button>
  </div>
  <ng-template #increaseScoreText>
    <p>Please increase your score in Gitcoin Passport.</p>
  </ng-template>
</div> -->

