@import '../../assets/generalStyles/mixins.scss';
.score-dialog-container {
  border-radius: 8px;
  .title{
    margin-bottom: 0px;
    color: rgb(27, 168, 27);
  }
  .your-score{
    margin-bottom: 0px;
    text-align: center;
      }
  .score-value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .threshold-value {
    font-size: 18px;
    color: #F05387;
    margin-bottom: 15px;
  }

  .low-score-message {
    font-size: 16px;
    text-align: center;
  }
  .submit{
      @include submit-button
  }
  .gitcoinLink{
    text-decoration: none;
    color: #F05387;
  }
}


.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #666;
}
