<div class="daily">
    <div class="daily--header">
        <img src="../../../assets/images/accont-wallet-panel-stars.svg" alt="star" class="panel--dashboard--daily--header--star">
        <div class="daily--header--reward">Daily Reward</div>
        <div class="daily--header--number">53.75839028</div>
    </div>
    <div class="daily--claim">
        <div class="daily--claim--text mb-3">This transaction will claim all earning & credit them to your wallet</div>
        <div tuiAction class="daily--claim--buttun">Cliam</div>
    </div>
</div>