/* buttons.scss */

/* General styles */
.white-link {
  font-size: 16px;
  color: $links-color-white;
  border: none;
  border-radius: var(--manna-border-radius);
  cursor: pointer;
}

.white-link:hover {
  color: $links-color-main-hover;
}


