@mixin gradient-border{
    display: flex;
    width: fit-content;
    border-radius: calc($manna-border-radius + 2px);
    padding: 2px;
    background-image: $get-started-button-background;
    border: none;
  }
  @mixin gradient-border-inner{
    position: relative;
    padding: 12px 20px;
    border-radius: $manna-border-radius;
    background: $background-color;
    text-align: flex-start;
    font-size: 16px;
    letter-spacing: 1px;
  }

@mixin submit-button{
  padding: 10px 60px 10px 60px;
  flex-shrink: 0;
  border-radius: 38px;
  background: linear-gradient(
      180deg,
      #fc5590 0%,
      #f96971 100%
  );
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  &--text{
      color: white;
      margin: 0px;
  }
  &:first-child {
      --tui-action-color: var(--tui-text-positive);
      --tui-action-background: var(--tui-status-positive-pale);
  }

  &:last-child {
      --tui-action-color: var(--tui-text-negative);
      --tui-action-background: var(--tui-status-negative-pale);
  }
  &:disabled{
      background: #8F8F8F;
      cursor: not-allowed;
  }
}
  