<div class="root flex flex-column h-full min-h-full min-w-full flex-grow">
  <div class="header lex-grow-1 w-full h-full p-2">
    <app-header></app-header>
  </div>

  <div class="body flex-grow-1 w-full h-full p-2">
    <router-outlet></router-outlet>
  </div>

</div>

<p-sidebar [(visible)]="display">
  <ng-template pTemplate="header">
    <h2 style="font-weight:normal">Menu</h2>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="flex flex-column w-full">
      <p-menu [model]="items" class="w-full side-bar-menu"></p-menu>
    </div>
  </ng-template>
</p-sidebar>
