@import "../variables";

.root {
  max-height: 100%;
  background-image:$background-main-image;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000; 
}
.footer{
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.body{
  overflow-x: hidden;
}