<div class="page">
    <div class="blog-container">
        <h2>Updates, stories, and announcements from Manna</h2>
        <div *ngIf="lastBlog && currentPage === 1" class="last-blog" (click)="viewBlogDetail(lastBlog.id)">
            <img class="blog-image" [src]="lastBlog.imageUrl" alt="Blog Image" />
            <div class="blog-description">
                <h3>{{ lastBlog.title }}</h3>
                <p>{{ lastBlog.date }}</p>
                <hr />
                <p class="blog-content">{{ trim(lastBlog.content) }}</p>
            </div>
        </div>
        <div class="blog-list">
            <div
                class="blog-item"
                *ngFor="let blog of otherBlogs"
                (click)="viewBlogDetail(blog.id)"
            >
                <img
                    class="blog-image"
                    [src]="blog.imageUrl"
                    alt="Blog Image"
                />
                <div class="blog-description">
                    <h3>{{ blog.title }}</h3>
                    <p>{{ blog.date }}</p>
                    <hr />
                    <p class="blog-content">{{ trim(blog.content) }}</p>
                </div>
            </div>
        </div>
        <div class="pagination-controls">
            <button *ngFor="let page of [].constructor(totalPages); let i = index" 
                    (click)="goToPage(i + 1)"
                    [ngClass]="{'active': currentPage === i + 1}">
                {{ i + 1 }}
            </button>
        </div>
    </div>
</div>
