<div class="card flex justify-content-center fluid">
  <div class="col-2 h-screen" style="background-color: black;">
    <h3 class="my-3">Filter</h3>
    <hr>
    <div class="flex">
      <div class="col-8">
        <p>CATEGORIES</p>
        <!-- <div class="card flex justify-content-center flex-column gap-3">
          <div *ngFor="let category of categories" class="field-checkbox">
            <p-radioButton [inputId]="category.name" name="category" [value]="category" [(ngModel)]="selectedCategory">
            </p-radioButton>
            <label [for]="category.name" class="ml-2">{{ category.name }}</label>
          </div>
        </div> -->
        <h3 class="ml-2">Treasure</h3>
        <h3 class="ml-2">Gnome NFT</h3>
      </div>
      <div class="col-3">
        <p class="ml-1">v</p>
        <h4 class="border-dashed border-circle w-1rem h-1rem"></h4>
        <h4 class="border-dashed border-circle w-1rem h-1rem"></h4>
      </div>
    </div>

  </div>
  <div class="p-0 col-10">
<!--    <p-menubar [model]="items" class="fluid">-->
<!--      <ng-template pTemplate="end">-->
<!--        &lt;!&ndash; <div class="flex justify-content-between">-->
<!--          <input type="text" pInputText placeholder="Search marketplace..." class="w-full">-->
<!--          <button class="pi pi-search"></button>-->
<!--        </div> &ndash;&gt;-->
<!--        <div class="flex align-items-center search-box">-->
<!--          <input class="col-7 search-input" type="text" placeholder="Search marketplace...">-->
<!--          <p class="search-icon col-5 m-0">search</p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </p-menubar>-->
    <div class="p-5">
      <div class="flex justify-content-between">
        <h1>534 LISTINGS</h1>
        <div class=" align-self-center">
          <button class="border-dashed mx-4 sort-filter">
            <!-- <i class="pi-sort-amount-down-alt"></i> -->
            LOW TO HIGH
          </button>
          <button class="border-dashed sort-filter">
            PRICE V
          </button>
        </div>
      </div>
<!--      <p-paginator class="paginator flex grid" (onPageChange)="onPageChange1($event)"-->
<!--                   [first]="first1" [rows]="rows1" [totalRecords]="120"-->
<!--                   [showFirstLastIcon]="false">-->
<!--      </p-paginator>-->
      <div *ngIf="cards" class="cards gap-3">
        <div *ngFor="let card of cards; let index = index" class="col-3" key="index">
          <div class="grid p-0">
            <ng-template pTemplate="header">
              <img alt="Card" [src]="card.image">
            </ng-template>
            <p class="flex justify-content-center card-text text-base">
              {{card.name}}
            </p>
            <ng-template pTemplate="footer">
              <div>
                <p class="card-text text-xs">price</p>
                <p class="card-text text-xs">{{card.price}} manna</p>
              </div>
              <button tuiButton label="buy"></button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
