$mobile: "screen and (max-width: 767px)";
$tablet: "screen and (min-width: 768px) and (max-width: 1024px)";
$tui-desktop: "screen and (min-width: 1025px)";
$background-color: #383838;
$background-wallet-color: #282828;
$background-color-header-scrolled: rgba(25, 27, 31, 0.9);
$gradient-border-start: #f86f64;
$gradient-border-end: #fc5392;
$gradient-border-box-start:#ffb2bd;
$gradient-border-box-end:#fec1a1;
$gradient-wallet-header-start:#f86f64;
$gradient-wallet-header-end:#fc5392;
$image-logo-start: rgba(255, 255, 255, 1);
$image-logo-end: rgba(250, 129, 136, 1);
$links-color-main: #fb6081;
$links-color-main-hover: #fa6062;
$links-color-white: #ffffff;
$border-white: ffffff;
$blog-descpription-color:rgba(255, 255, 255, 0.6);
$background-blog-color: #282828;
$width-of-mainPage-desktop:90%;
$width-of-mainPage-tablet:95%;
$width-of-mainPage-mobile:95%;

//images
$get-started-button-background: url("../src/assets/images/get_stared_background.webp");
$developer-main-background: url("../../assets/images/developer_main_background.png");
$developer-under-background: url("../../assets/images/developer_background.webp");
// $ballons-home-page:url("./assets/images/");
$background-color-boxes:#282828;
//sizes
$manna-border-radius: 2rem;
$header-height:65px;
