/* You can add global styles to this file, and also import other style files */
@import url(/src/assets/generalStyles/buttons.scss);
body,
body .p-component
{
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.p{
  margin: 0;
}