<!-- bename khoda -->
<div class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-4">
    <div class="card ">
        <div >
            <div class="image-container">
                <img src="../../assets/images/Manna logo copy 7.png" alt="Image" class="image-logo" />
              </div>
                <div>
                 <p class="text-daily-manna text-7xl mt-1 mb-0" >Claim your daily manna </p>
                </div>
                <div >
                    <p class="text-daily-manna text-7xl my-0" >and join the future of money</p>
                   </div>
                <div>
                  <p class="text-daily-manna text-600 text-lg" >Get 1 manna a day and use it for what you love.</p>
                 </div>
                 <div class="button-get-started">
                    <div class="shadow-2 border-round-3xl border-3 bg-cover "
                        style="background-image: url('../../assets/images/get\ stared\ background.png');">
                        <p-button class="px-0 py-0 button-get-started "
                             styleClass="p-button-link"
                             >
                        <p class="my-0 text-xl font-bold text-white">Get Started
                        </p>
                      </p-button>
                    </div>
                 </div>
                 <div class="button-learn-more">
                  <p-button  label="Learn more" styleClass="p-button-text text-white" >
                    </p-button>
                            <i class="fa fa-user"></i>
                            <button pButton icon="fa fa-chevron-down" class="p-button-rounded p-button-text"></button>
                 </div>
        </div>
         <div class="grid justify-content-center px-4 py-5 md:px-6 lg:px-10 column-gap-4">
            <div class=" col-12 md:col-6 lg:col-3 ">
                <app-intro-card
                    title="Get Verified"
                    icon="../../assets/images/verified.png"
                    body="All manna user are verified while presrving user privacy.Making a network of uniqe, real accounts"
                    link="Get Verified"
                >
                </app-intro-card>
            </div>
            <div class="col-12 md:col-6 lg:col-3 ">
                <app-intro-card
                    title="Earn"
                    icon="../../assets/images/earn manna logoes.png"
                    body="Get manna everyday.  Everyone in the world  can join and earn daily manna.Get manna everyday."
                    link="Earn Now"
                >
                </app-intro-card>
            </div>
            <div class="col-12 md:col-6 lg:col-3 ">
                <app-intro-card
                    title="Spend"
                    icon="../../assets/images/spend.png"
                    body="Use manna for what you  love. Trade it in the  marketplace, giv it to those in need, or stake for rewards."
                    link="Start Spending"
                >
                </app-intro-card>
            </div>
        </div>
        <div class="grid  justify-content-center px-4 py-5 md:px-6 lg:px-10">
                    <div class="col-12 md:col-6 lg:col-5 ">
                        <div class=" p-3">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <div class="py-1">
                                        <p-button  label="MANNA ECOSYSTEM" styleClass="p-button-text p-0" >
                                          </p-button>
                                        <i class="pi pi-arrow-right"></i>
                                       </div>
                                    <div class=" block text-4xl font-medium col-8">Build a global network powerd by the community</div>
                                    <div class=" block text-lg font-light col-8">A community powerd global ecosystem using the principles of UBI to make it open and accessible to all</div>
                                </div>
                            </div>
                            <p-button class="px-0 py-0" styleClass="p-button-rounded p-button-outlined" ngClass="">
                                <p class="button-get-started-text my-0">Get Started 
                                    <i class="pi pi-arrow-up-right"></i>
                                </p>
                              </p-button>
                        </div>
                    </div>
                    <div 
                    class="flex align-items-stretch col-12 md:col-6 lg:col-5">
                        <img src="../../assets/images/manna-people.png" class="col-12">
                    </div>
        </div>
        <div class="grid justify-content-center px-4 py-5 md:px-6 lg:px-10 gap-4">
                    <div 
                    class="grid shadow-2  border-round-3xl bg-cover col-12 md:col-6 lg:col-5"
                     style="background-image: url('../../assets/images/governed\ background.png');">
                     <div class="col-10 pt-5">
                        <div class=" block text-4xl font-medium mb-4">
                            Build a global network powerd by the community
                        </div>
                        <div class=" block text-lg font-light">
                                    A community powerd global ecosystem using the principles of UBI to make it open and accessible to all
                        </div>
                    </div>         
                     <div class="grid align-self-end">
                                    <div class="col-8 align-self-end">
                                        <p-button class="px-0 py-0" styleClass="p-button-rounded p-button-outlined" ngClass="">
                                            <p class="button-get-started-text my-0 ">Get Started 
                                                <i class="pi pi-arrow-up-right"></i>
                                            </p>
                                          </p-button>
                                    </div>
                                    <div class="col-4">
                                        <img src="../../assets/images/governed manna logo.png" alt="manna" style="width:80%">
                                    </div>
                     </div>
                    </div>
                    <div class="grid col-12 md:col-6 lg:col-5 row-gap-2">
                        <div>
                            <app-info-box 
                                title="Governed Forum"
                                body="Participate in discussion and proposals for future update and decisions with tha Manna cummunity">
                            </app-info-box>
                        </div>
                        <div>
                            <app-info-box
                                title="Verified Unique People"
                                body="Partipicate directly or delegate to active members in the community.All verified Manna users have a voice. ">
                            </app-info-box>
                        </div>
                        <div>
                            <app-info-box 
                                title="Governance DAO"
                                body="Vote on important proposals and view vote history on past proposals.">
                            </app-info-box>
                        </div>
                    </div>
        </div> 
        <div class="grid justify-content-center px-4 py-5 md:px-6 lg:px-10 gap-4">
            <h2 class="col-10 my-0 py-0">DEVELOPERS</h2>
            <div class="grid col-12 md:col-6 lg:col-7 ">
                <div class="shadow-2 p-3 border-3 border-round-3xl bg-cover pt-5" 
                style="background-image: url('../../assets/images/developer\ main\ background.png');">
                                <div class=" block text-4xl font-medium col-10 mt-5">Help build the Manna ecosystem</div>
                                <div class=" block text-lg font-light col-10">Build apps, tools, and more in the manna ecosystem. Get started</div>
                                <div class="grid">
                                    <div class="flex align-items-start col-7 ">
                                        <p-button class="px-0 py-0" styleClass="p-button-rounded p-button-outlined" ngClass="">
                                            <p class="button-get-started-text my-0">Read more 
                                                <i class="pi pi-arrow-up-right"></i>
                                            </p>
                                          </p-button>
                                    </div>
                                    <div class="col-4">
                                        <img src="../../assets/images/developer squere.png" alt="manna" style="width:100%">
                                    </div>
                                </div>
                </div>
                <div class="grid mt-1 col-12 gap-2">
                    <div 
                     class="col shadow-2 p-3 border-round-3xl border-3 bg-cover "
                     style="background-image: url('../../assets/images/developer\ background.png');">
                            <p-button  styleClass="p-button-link" >
                                <p class="button-get-started-text my-0 px-0">Governed Foum
                                    <i class="pi pi-arrow-right"></i>
                                </p>
                            </p-button>
                    </div>
                    <div 
                    class="col shadow-2 p-3 border-round-3xl border-3 bg-cover " 
                    style="background-image: url('../../assets/images/developer\ background.png');">
                        <div class="mb-3">
                            <p-button class="px-0 py-0" styleClass="p-button-link" ngClass="">
                                                    <p class="button-get-started-text my-0 px-0">Governed Foum
                                                        <i class="pi pi-arrow-right"></i>
                                                    </p>
                            </p-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid col-12 md:col-6 lg:col-3">
                    <div class="surface-card shadow-2 border-round-3xl border-3 bg-cover"
                                 style="background-image: url('../../assets/images/manna\ grant\ background.png');">
                                    <div>
                                        <div class=" -mt-3">
                                            <img src="../../assets/images/multi manna for funding.png" width="100%">
                                        </div>
                                        <div class="p-3">
                                            <h2>
                                                Apply for funding from Manna Grants Program 
                                            </h2>
                                        </div >
                                            <div class="text-lg font-light col-10 p-3">
                                                Get paid to build the future of money. Manna Governance offers 
                                            </div>
                                            <p-button class="p-5 mb-5" styleClass="p-button-rounded p-button-outlined " ngClass="">
                                                <p class="button-get-started-text my-0">Read more 
                                                    <i class="pi pi-arrow-up-right"></i>
                                                </p>
                                              </p-button>
                                    </div>
                    </div>
            </div>
        </div> 
        <div class="px-4 py-5 md:px-6 lg:px-12">
                    <div class="grid flex justify-content-center">
                        <div class="col-12 md:col-6 lg:col-4 ">
                            <div class="p-3">
                                <div class="flex justify-content-between align-center mb-3">
                                    <div class="flex align-center">
                                        <img src="../../assets/images/Manna logo footer.png"  style="width:1.5rem;" class="image-logo mr-2">
                                        <span class="text-900 font-medium text-xl">mannabase</span>
                                    </div>
                                </div>
                                <div class="pl-2 col-8">
                                    mannabase  Mannabase is the hub for Manna.  Manna is a digital taken that eveeryone in the workd can claim 1 per day.
                                   </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-2 ">
                            <div class="p-3">
                                <div class="flex justify-content-between align-center mb-3">
                                    <div class="flex align-center">
                                        <span class="text-900 font-medium text-xl underline">EXPLORE</span>
                                    </div>
                                </div>
                                <div>
                                    <p-button  styleClass="p-button-link px-0">
                                        <p class="button-get-started-text my-0">
                                            Dashboard
                                        </p>
                                    </p-button>
                                </div>
                                <div>
                                    <p-button  styleClass="p-button-link px-0">
                                        <p class="button-get-started-text my-0">
                                            Open App
                                        </p>
                                    </p-button>
                                </div>
                                <div>
                                    <p-button  styleClass="p-button-link px-0">
                                        <p class="button-get-started-text my-0">
                                            Aboat
                                        </p>
                                    </p-button>
                                </div>
                                <div>
                                    <p-button  styleClass="p-button-link px-0">
                                        <p class="button-get-started-text my-0">
                                            FAQ
                                        </p>
                                    </p-button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-2 ">
                            <div class="p-3">
                                <div class="flex justify-content-between align-center mb-3">
                                    <div class="flex align-center">
                                        <span class="text-900 font-medium text-xl underline">SOCIALS</span>
                                    </div>
                                </div>
                                <div>
                                    <p-button  styleClass="p-button-link px-0">
                                        <p class="button-get-started-text my-0">
                                            Twitter
                                        </p>
                                    </p-button>
                                </div>
                                <div>
                                    <p-button  styleClass="p-button-link px-0">
                                        <p class="button-get-started-text my-0">
                                            Medium
                                        </p>
                                    </p-button>
                                </div>
                                <div>
                                    <p-button  styleClass="p-button-link px-0">
                                        <p class="button-get-started-text my-0">
                                            Disacord
                                        </p>
                                    </p-button>
                                </div>
                                <div>
                                    <p-button  styleClass="p-button-link px-0">
                                        <p class="button-get-started-text my-0">
                                            Telegram
                                        </p>
                                    </p-button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-2 ">
                            <div class="p-3">
                                <div class="flex justify-content-between align-center mb-3">
                                    <div class="flex align-center">
                                        <span class="text-900 font-medium text-xl underline">SOCIALS</span>
                                    </div>
                                </div>
                                <div>
                                    <p>
                                        team@headeforhumanity.org 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
      </div>
    </div>
  </div>

