
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
:host {
  ::ng-deep .custom-button {
      display: flex;
      justify-content: center;
      background-image: url('../../assets/images/get_stared_background.png');
      background-size: cover;
      background-repeat: no-repeat;
      color: white; 
      padding: 8px 16px;
      font-size: 16px; 
      cursor: pointer;
      border: 5px;
      border-color: white;
      border-radius: 50px; 
      min-width: 150px;
    }

  ::ng-deep .p-button.custom-button:active {
    border-color: #ff0000;
  }
}

.image-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, rgba(250, 129, 136, 1) 13%);
}

.text-daily-manna {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.button-get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-width: 150px;
}

.button-get-started-text {
  color: white;
}

.button-learn-more {
  display: flex;
  justify-content: center;
  align-items: center;

}


.card-border-explain {
  color: linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, rgba(250, 129, 136, 1) 13%);
}
.footer-links{
  display: block;
  flex-direction: column;
}
.footer-link {
  padding-bottom: 1rem 
}

@media only screen and (max-width: 960px) {
  .text-daily-manna {
    font-size: x-large;
  }
  .footer-link {
    display: flex;
    justify-content: center;
  }
  .manna-text-footer {
    text-align: center
  }
  .footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
