<!-- bename khoda -->
<div class="p-grid mt-4">
  <div class="p-col-12 p-md-6 p-lg-4">
    <div class="card ">
      <div>
        <div class="image-container">
          <img src="../../assets/images/Manna_logo_copy 7.png" alt="Image" class="image-logo"/>
        </div>
        <div>
          <p class="text-daily-manna mt-1 mb-0">Claim your daily manna </p>
        </div>
        <div>
          <p class="text-daily-manna my-0">and join the future of money</p>
        </div>
        <div>
          <p class="text-daily-manna text-600 text-lg">Get 1 manna a day and use it for what you love.</p>
        </div>
        <div class="button-get-started">
          <button class="custom-button" (click)="metamaskService.tryClaim()">
            <p class="flex justify-content-center my-0 text-xl font-bold text-white">
              {{
              metamaskService.isConnected$.getValue()
                ? (metamaskService.isCorrectChain$.getValue()
                  ? (metamaskService.isVerified$.getValue() ? 'Claim' : 'Verify')
                  : 'Change to ID Chain')
                : 'Connect MetaMask'
              }}
            </p>
          </button>
        </div>
        <div class="button-learn-more pt-1">
          <a class="my-button">
            Learn more
            <i class="fa-solid fa-circle-down"></i>
          </a>
        </div>
      </div>
      <div class="grid justify-content-center m-0 py-5 md:px-6 lg:px-10 column-gap-4">
        <div class=" col-12 md:col-6 lg:col-3 ">
          <app-intro-card
            title="Get Verified"
            icon="../../assets/images/verified.png"
            body="All manna user are verified while presrving user privacy. Making a network of uniqe, real accounts"
            link="Get Verified"
          >
          </app-intro-card>
        </div>
        <div class="col-12 md:col-6 lg:col-3 ">
          <app-intro-card
            title="Earn"
            icon="../../assets/images/earn_manna_logoes.png"
            body="Get manna everyday.  Everyone in the world  can join and earn daily manna. Get manna  everyday."
            link="Earn Now"
          >
          </app-intro-card>
        </div>
        <div class="col-12 md:col-6 lg:col-3 ">
          <app-intro-card
            title="Spend"
            icon="../../assets/images/spend.png"
            body="Use manna for what you love.Trade it in the marketplace, giv it to those in need,or stake for rewards."
            link="Start Spending"
          >
          </app-intro-card>
        </div>
      </div>
      <div class="grid justify-content-center m-0 py-5 md:px-6 lg:px-10">
        <div class="col-12 md:col-6 lg:col-5 ">
          <div class=" p-3">
            <div class="flex justify-content-between mb-3">
              <div>
                <div class="py-1">
                  <a class="my-button">
                    MANNA ECOSYSTEM
                    <i class="pi pi-arrow-right"></i>
                  </a>
                </div>
                <div class=" block text-4xl font-medium col-8">Build a global network powerd by the community</div>
                <div class=" block text-lg font-light col-8">A community powerd global ecosystem using the principles of
                  UBI to make it open and accessible to all
                </div>
              </div>
            </div>
            <a class="my-button">
              Get Started
              <i class="pi pi-arrow-up-right"></i>
            </a>
          </div>
        </div>
        <div
          class="flex align-items-stretch col-12 md:col-6 lg:col-5">
          <img src="../../assets/images/manna-people.png" class="col-12">
        </div>
      </div>
      <div class="grid justify-content-center m-0 py-5 md:px-6 lg:px-10 gap-4">
        <div
          class="grid shadow-2  border-round-3xl bg-cover col-12 md:col-6 lg:col-5"
          style="background-image: url('../../assets/images/governed_background.png');">
          <div class="col-10 pt-5">
            <div class=" block text-4xl font-medium mb-4">
              Build a global network powerd by the community
            </div>
            <div class=" block text-lg font-light">
              A community powerd global ecosystem using the principles of UBI to make it open and accessible to all
            </div>
          </div>
          <div class="grid align-self-end">
            <div class="col-8 align-self-end">
              <a class="my-button">
                Get Started
                <i class="pi pi-arrow-up-right"></i>
              </a>
            </div>
            <div class="col-4">
              <img src="../../assets/images/governed_manna_logo.png" alt="manna" style="width:80%">
            </div>
          </div>
        </div>
        <div class="grid col-12 md:col-6 lg:col-5 row-gap-2 p-0">
          <div class="col-12">
            <app-info-box
              title="Governed Forum"
              body="Participate in discussion and proposals for future update and decisions with tha Manna cummunity">
            </app-info-box>
          </div>
          <div class="col-12">
            <app-info-box
              title="Verified Unique People"
              body="Partipicate directly or delegate to active members in the community.All verified Manna users have a voice. ">
            </app-info-box>
          </div>
          <div class="col-12">
            <app-info-box
              title="Governance DAO"
              body="Vote on important proposals and view vote history on past proposals.">
            </app-info-box>
          </div>
        </div>
      </div>
      <!-- <div class="grid justify-content-center py-5 md:px-6 lg:px-10 gap-4">
        <h2>DEVELOPERS</h2>
      </div> -->
      <div class="grid justify-content-center m-0 py-5 md:px-6 lg:px-10 gap-4">
        <div class="grid col-12 md:col-6 lg:col-7 ">
          <div class="shadow-2 p-3 border-3 border-round-3xl bg-cover pt-5"
               style="background-image: url('../../assets/images/developer_main_background.png');">
            <div class=" block text-4xl font-medium col-10 mt-5">Help build the Manna ecosystem</div>
            <div class=" block text-lg font-light col-10">Build apps, tools, and more in the manna ecosystem. Get
              started
            </div>
            <div class="grid">
              <div class="flex align-items-start col-7 ">
                <a class="my-button pl-2">
                  Read more
                  <i class="pi pi-arrow-up-right"></i>
                </a>
              </div>
              <div class="col-4">
                <img src="../../assets/images/developer_squere.png" alt="manna" style="width:100%">
              </div>
            </div>
          </div>
          <div class="grid mt-1 col-12 p-0 mx-0">
            <div
              class="col shadow-2 p-3 border-round-3xl border-3 bg-cover mr-1"
              style="background-image: url('../../assets/images/developer_background.png');">
              <a class="my-button">
                Governed Foum
                <i class="pi pi-arrow-right"></i>
              </a>
            </div>
            <div
              class="col shadow-2 p-3 border-round-3xl border-3 bg-cover "
              style="background-image: url('../../assets/images/developer_background.png');">
              <div class="mb-3">
                <a class="my-button">
                  Governed Foum
                  <i class="pi pi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid col-12 md:col-6 lg:col-3">
          <div class="surface-card shadow-2 border-round-3xl border-3 bg-cover"
               style="background-image: url('../../assets/images/manna_grant_background.png');">
            <div>
              <div class=" -mt-3">
                <img src="../../assets/images/multi_manna_for_funding.png" width="100%">
              </div>
              <div class="p-3">
                <h2 class="m-0">
                  Apply for funding from Manna Grants Program
                </h2>
              </div>
              <div class="text-lg font-light col-10 px-3">
                Get paid to build the future of money. Manna Governance offers
              </div>
              <a class="my-button m-4 pb-3">
                Read more
                <i class="pi pi-arrow-up-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="py-5 md:px-6 lg:px-12">
        <div class="grid flex justify-content-center">
          <div class="col-12 md:col-6 lg:col-4 ">
            <div class="p-3">
              <div class="align-center">
                <div class="manna-text-footer">
                  <img src="../../assets/images/Manna_logo_footer.png" style="width:1.5rem;" class="image-logo mr-2">
                  <span class="text-900 font-medium text-xl">mannabase</span>
                </div>
              </div>
              <div class="flex justify-content-center align-center">
                <p class="manna-text-footer">
                  Mannabase is the hub for Manna. Manna is a digital taken that eveeryone in the workd can claim
                  1 per day.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-2 ">
            <div class="p-3">
              <div class="flex justify-content-between align-center mb-3">
                <div class="flex align-center footer-title">
                  <span class="text-900 font-medium text-xl underline">EXPLORE</span>
                </div>
              </div>
              <div class="footer-link">
                <!-- <button class="footer-link" styleClass="p-button-link px-0">
                  <p class="button-get-started-text my-0">
                    Dashboard
                  </p>
                </button> -->
                <a class="my-button footer-link">
                  Dashboard
                </a>
              </div>
              <div class="footer-link">
                <a class="my-button footer-link">
                  Open App
                </a>
              </div>
              <div class="footer-link">
                <a class="my-button footer-link">
                  Aboat
                </a>
              </div>
              <div class="footer-link">
                <a class="my-button footer-link">
                  FAQ
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-2 ">
            <div class="p-3">
              <div class="flex justify-content-between align-center mb-3">
                <span class="text-900 font-medium text-xl underline">SOCIALS</span>
              </div>
              <div class="footer-link">
                <a class="my-button footer-link">
                  Twitter
                </a>
              </div>
              <div class="footer-link">
                <a class="my-button footer-link">
                  Medium
                </a>
              </div>
              <div class="footer-link">
                <a class="my-button footer-link">
                  Disacord
                </a>
              </div>
              <div class="footer-link">
                <a class="my-button footer-link">
                  Telegram
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-2 ">
            <div class="p-3">
              <div class="footer-title mb-3">
                <span class="text-900 font-medium text-xl underline">SOCIALS</span>
              </div>
              <div>
                <a class="my-button footer-link">
                  team@headeforhumanity.org
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

