@import "../../variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.blocks {
    width: $width-of-mainPage-desktop;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.full-height {
    display: flex;
    justify-content: end;
    height: calc(100vh - 120px);
    padding-bottom: 60px 0px !important;
    &--main {
        display: flex;
        align-items: center;
        &--part1 {
            width: 30%;
            display: flex;
            align-self: end;
            justify-content: start;
            height: 100vh;
            &--mannas {
                align-self:end ;
                height: 85vh;
            }
        }
        &--part2 {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            &--earth {
                height: 85vh;
            }
        }
    }
}
.full-height-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    // height: 90vh;
    height: calc(100vh - 120px);
    padding-bottom: 60px 0px !important;
}
.manna-button-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.manna-button {
    background-image: $get-started-button-background;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 8px 24px;
    font-size: 16px;
    cursor: pointer;
    border: 0px;
    border-radius: $manna-border-radius;
    max-width: 200px;
    min-width: 150px;

    :disabled {
        background-image: None;
        background-color: gray;
    }
}
.manna-button-mobile {
    justify-content: start;
    background-image: $get-started-button-background;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 8px 24px;
    font-size: 25px;
    cursor: pointer;
    border-radius: $manna-border-radius;
    min-width: 300px;
    border: 0px;

    :disabled {
        background-image: None;
        background-color: gray;
    }
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.image-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 50%;
    background: linear-gradient(
        120deg,
        $image-logo-start 0%,
        $image-logo-end 13%
    );
    &--footer {
        width: 2rem;
        height: 2rem;
    }
}
.text-daily-manna {
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 35px;
    &--description {
        color: var(--surface-300);
        padding: 10px;
    }
}
.boxes-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
/* For Webkit browsers like Chrome, Safari */
.boxes-container::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.outer-gradiant-border-box{
    width: calc(33.33% - 20px);
    min-width: 300px;
    margin: 10px;
    border-radius: 12px;
    padding: 5px;
    &:last-child {
        margin-right: 0;
    }
}
.gradiant-border-box {
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: start;
}
.outer-gradiant-border-links {
    display: flex;
    width: fit-content;
    border-radius: $manna-border-radius;
    padding: 3px;
    background-image: $get-started-button-background;
}
.gradiant-border-links {
    position: relative;
    border-radius: $manna-border-radius;
    padding: 8px 24px;
    text-align: start;
    background: $background-color;
}


.box-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    
}

.box-image {
    border-radius: 15px;
}

h3 {
    margin: 0;
    font-size: 1.2rem;
}
.card-discription {
    height: 50px;
}
.link-card {
    display: flex;
    justify-content: start;
}
.link-card-main {
    display: flex;
    justify-content: start;
    color:$links-color-main ;
}
.ecosystem {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    align-items: stretch;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: calc(100vh - 120px);
        align-items: center;

    &--items {
        flex: 1;
        margin: 10px;
        display: flex;
        &--item1 {
            width: 30%;
            height: 150px;
            justify-content: start;
            padding: 20px 5px 30px 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: -50px;
        }

        &--item2 {
            width: 55%;
            min-width: 500px;
            align-items: center;
            justify-content: center;
            display: flex;
            margin-right: -5%
        }
    }
}

.community {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &--govern {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 50%;
        border: 1px solid $border-color;
        border-radius: 10px;
        background-image: url("../../assets/images/forAllHumans.png");
        background-size: cover;
        padding: 20px;
        &--allHumans{
            font-size: 40px;
            color: white;
            font-weight:bold;
        }
    }
    &--boxes {
        // margin-top: 20px;
        width: 45%;
        justify-content: start;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        z-index: 10;
        &--box {
            display: flex;
            flex-direction: row;
            border: 2px solid $border-color;
            border-radius: 12px;
            padding: 3px;
            background:rgba(240, 155, 182, 0.823);; 
            backdrop-filter: blur(4px);
            transition: $border-color 0.3s ease;
            &--image{
                width: 50px;
            }
        }
    }
    &--image{
        position: absolute;
        display: flex;
        align-self: end;
        justify-self: end;
        width: 15rem;
        height: 20rem;
        margin-right: -5%;
        margin-top: 100px;
        z-index: 0;
    }
}
.developers {
    display: flex;
    flex-direction: column;
    width: 65%;
    flex-direction: column;
    max-height: max-content;
    gap: 10px;
}
.developer {
    position: relative;
    background-image: $developer-main-background;
    background-size: cover;
    display: flex-column;
    padding: 50px 20px 50px 20px;
    min-height: 300px;
    border: 5px solid white;
    border-radius: $manna-border-radius;
    margin-bottom: 10px;
    &--img {
        text-align: end;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20%;
    }
}
.under-developer-container {
    display: flex;
    gap: 1rem;
    width: 100%;
}
.under-developer {
    width: 48%;
    box-shadow: 2px;
    border: 5px solid white;
    border-radius: 20px;
    background-image: $developer-under-background;
    background-size: cover;
    display: flex-column;
    gap: 2px;
    padding: 20px;
    text-align: start;
}
.funding {
    min-height: 300px;
    width: 30%;
    box-shadow: 2px;
    background-image: $developer-under-background;
    background-size: cover;
    display: flex-column;
    gap: 2px;
    padding: 0px 20px 20px 0px;
    border: 5px solid white;
    border-radius: $manna-border-radius;
    &--read-more {
        border: 3px solid white;
        border-radius: $manna-border-radius;
        margin: 15px 0px 0px 15px;
        padding: 5px;
    }
}


@media #{$tablet} {
    .blocks {
        width: $width-of-mainPage-tablet;
    }
    .full-height {
        display: none;
    }
    .full-height-mobile {
        display: flex;
    }
    .text-daily-manna {
        justify-content: center;
        align-items: center;
        font-size: 30px;
        &--description {
            text-align: center;
        }
    }
    .flex-item {
        flex-basis: 100%;
    }
    .info-box {
        width: 100%;
        flex-direction: row;
    }
    .flex-container {
        padding: 0px 20px 0px 20px;
        &--items {
            &--item1 {
                width: 100%;
                margin-bottom: 20px;
                min-width: 0px;
            }
            &--item2 {
                width: 100%;
                min-width: 0px;
            }
        }
    }
    .community--show {
        display: none;
    }
    .developers {
        width: 100%;
    }
    .developer {
        min-height: none;
    }
    .under-developer-container {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        margin-bottom: 30px;
        width: 90%;
    }
    .under-developer {
        width: 100%;
        background-image: $developer-main-background;
        margin-bottom: 10px;
    }
    .funding {
        width: 100%;
    }
    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        display: flex;
    }
}
@media #{$mobile} {
    .blocks {
        width: $width-of-mainPage-mobile;
    }
    .full-height {
        display: none;
    }
    .full-height-mobile {
        display: flex;
    }
    .text-daily-manna {
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 30px;
        &--description {
            text-align: center;
        }
    }
    .flex-item {
        flex-basis: 100%;
    }
    .info-box {
        width: 100%;
        flex-direction: row;
    }
    .flex-container {
        padding: 0px 20px 0px 20px;
        &--items {
            &--item1 {
                width: 100%;
                margin-bottom: 20px;
                min-width: 0px;
            }
            &--item2 {
                width: 100%;
                min-width: 0px;
            }
        }
    }
    .community--show {
        display: none;
    }
    .developers {
        width: 100%;
    }
    .developer {
        min-height: none;
    }
    .under-developer-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        row-gap: 5px;
        margin-bottom: 30px;
        width: 85%;
    }
    .under-developer {
        width: 100%;
        background-image: $developer-main-background;
        margin-bottom: 10px;
    }
    .funding {
        width: 100%;
    }
    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        display: flex;
    }
}
