<!-- bename khoda  -->
<div class="container">
    <div class="blocks full-height mt-1">
        <div class="full-height--main">
            <div class="full-height--main--part1">
                <img class="full-height--main--part1--mannas" src="../../assets/images/mainPage-side-image.webp" alt="manna">
                <img class="full-height--main--part1--mannas--mobile" src="../../assets/images/mainPage-side-image-mobile.png" alt="manna">
            </div>
            <div class="full-height--main--part2">
                <div class="flex-grow-1"></div>
                <div class="text-daily-manna mt-5 mb-0">
                    CLAIM YOUR DAILY
                </div>
                <div class="text-daily-manna my-1">
                    MANNA AND JOIN THE
                </div>
                <h3 class="text-daily-manna future mt-1 mb-5">
                    FUTURE OF MONEY.
                </h3>
                <div class="getStart mt-4">
                    <button class="getStart--button" (click)="openClaimDialog()">
                        Get Started 
                        <tui-svg
                            src="tuiIconArrowRight"
                            class="getStart--button--icon"
                        ></tui-svg>
                    </button>
                    <div class="getStart--learnMore">
                        <a class="getStart--learnMore--link" tuiLink>
                                Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blocks">
        <div class="boxes">
            <div class="boxes--item" *ngFor="let box of boxes">
                    <div class="boxes--item--header">
                        <img
                            [src]="box.imagePath"
                            alt="{{ box.title }}"
                            class="boxes--item--header--image"
                        />
                        <div class="boxes--item--header--title">{{ box.title }}</div>
                    </div>
                    <p class="boxes--item--discription">{{ box.description }}</p>
                    <a tuiLink icon="tuiIconArrowRight" class="boxes--item--link">
                        {{ box.link }}
                    </a>
            </div>
        </div>
    </div>
    <div class="blocks">
        <div class="ecosystem">
            <div class="ecosystem--item1">
                <a tuiLink class="mb-3">
                    <div class="ecosystem--item1--link">
                        MANNA ECOSYSTEM
                        <tui-svg
                            src="tuiIconArrowRight"
                            style="color: var(--tui-primary)"
                        ></tui-svg>
                    </div>
                </a>
                <div class="ecosystem--item1--title mb-0">
                    Building a global network 
                </div>
                <div class="ecosystem--item1--title mt-0 mb-3">
                    powered by the community
                </div>
                <p class="ecosystem--item1--description mb-5">
                    A community-powered global ecosystem using the principles of 
                    UBI to make it open and accessible to all.
                </p>
                <button class="getStart--button" (click)="openClaimDialog()">
                    Get Started 
                    <tui-svg
                        src="tuiIconArrowRight"
                        class="getStart--button--icon"
                    ></tui-svg>
                </button>
            </div>
            <div class="ecosystem--item2">
                <img
                    src="../../assets/images/world.png"
                    alt="world"
                    class="ecosystem--item2--desktop"
                />
                <img
                    src="../../assets/images/world-mobile.png"
                    alt="world"
                    class="ecosystem--item2--mobile"
                />
            </div>
        </div>
    </div>
    <div class="blocks community--show">
        <div class="community">
            <div class="community--govern">
                <h3 class="community--govern--allHumans">For All Humans</h3>
                <p class="community--govern--description mt-1">
                    Manna is built to be accessible to
                </p>
                <p class="community--govern--description mb-2">
                    all humans.
                </p>
                <button class="getStart--button" (click)="openClaimDialog()">
                    Get Started 
                    <tui-svg
                        src="tuiIconArrowRight"
                        class="getStart--button--icon"
                    ></tui-svg>
                </button>
            </div>
            <div class="community--boxes">
                <div class="community--boxes--box">
                    <img src="../../assets/images/onePerDay.png" alt="onePerDay" class="community--boxes--box--image">
                    <div
                    >
                        <a
                            tuiLink
                            icon="tuiIconArrowRight"
                            class="community--boxes--box--title" 
                        >
                            1-Per-Day
                        </a>
                        <p class="text">
                            All humans can claim 1 manna per day. 
                        </p>
                    </div>
                </div>
                <div class="community--boxes--box">
                    <img src="../../assets/images/human-verified.png" alt="onePerDay" class="community--boxes--box--image">
                    <div>
                        <a
                            tuiLink
                            icon="tuiIconArrowRight"
                            class="community--boxes--box--title" 
                        >
                        Get Verified
                        </a>
                        <p class="text">
                            Manna uses decentralized and data preserving identity verification.
                        </p>
                    </div>
                </div>
                <div class="community--boxes--box">
                    <img src="../../assets/images/optimism.png" alt="onePerDay" class="community--boxes--box--image">
                    <div
                    >
                        <a
                            tuiLink
                            icon="tuiIconArrowRight"
                            class="community--boxes--box--title" 
                        >
                        Built On Optimism
                        </a>
                        <p class="text">
                            Manna is built on Optimism allowing low cost transactions and 
                        </p>
                        <p class="text">
                            access to the Ethereum ecosystem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../assets/images/humanity-manna-logo.png" alt="manna" class="community--image">
    </div>
    
    <!-- <div class="blocks pb-0">
        <h2 class="flex mb-0">DEVELOPERS</h2>
    </div> -->
    <!-- <div class="blocks">
        <div class="ecosystem">
            <div class="developers">
                <div class="developer">
                    <h1 class="font-medium mt-5">
                        Help build the Manna ecosystem
                    </h1>
                    <h3 class="text-lg font-light mt-5">
                        Build apps, tools, and more in the manna ecosystem. Get
                        started
                    </h3>
                    <div class="outer-gradiant-border-links mt-5">
                        <a class="gradiant-border-links" tuiLink>
                            Read more
                            <tui-svg
                                src="tuiIconArrowUpRight"
                                style="color: var(--tui-primary)"
                            ></tui-svg>
                        </a>
                    </div>
                    <img
                        src="../../assets/images/developer_squere.webp"
                        alt="manna"
                        class="developer--img"
                    />
                </div>
                <div class="under-developer-container">
                    <div class="under-developer">
                        <a class="white-link">
                            Governed Foum
                            <tui-svg src="tuiIconArrowRight"></tui-svg>
                        </a>
                    </div>
                    <div class="under-developer">
                        <a class="white-link">
                            Governed Foum
                            <tui-svg src="tuiIconArrowRight"></tui-svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="funding">
                <div class="fundinig">
                    <div>
                        <div class="-mt-3">
                            <img
                                src="../../assets/images/multi_manna_for_funding.png"
                                width="100%"
                            />
                        </div>
                        <div class="p-3">
                            <h2 class="m-0">
                                Apply for funding from Manna Grants Program
                            </h2>
                        </div>
                        <div class="text-lg font-light col-10 px-3">
                            Get paid to build the future of money. Manna
                            Governance offers
                        </div>
                        <a class="funding--read-more" tuiLink>
                            Read more
                            <tui-svg src="tuiIconArrowUpRight"></tui-svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
