@import "../../variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.blocks {
    width: $width-of-mainPage-desktop;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.full-height {
    display: flex;
    justify-content: end;
    height: calc(100vh - 120px);
    padding-bottom: 60px 0px !important;
    &--main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--part1 {
            width: 40%;
            display: flex;
            // justify-content: flex-end;
            flex-direction: column;
            height: 100%;
            &--ballons {
                margin-bottom: auto;
                width: 80%;
            }
        }
        &--part2 {
            width: 60%;
            display: flex;
            align-self: center;
            justify-content: end;
            &--earth {
                height: 85vh;
            }
        }
    }
}
.full-height-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 60px 0px !important;
}
.manna-button {
    justify-content: start;
    background-image: $get-started-button-background;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 8px 24px;
    font-size: 16px;
    cursor: pointer;
    border: 5px solid white;
    border-radius: $manna-border-radius;
    max-width: 200px;
    min-width: 150px;

    :disabled {
        background-image: None;
        background-color: gray;
    }
}
.manna-button-mobile {
    justify-content: start;
    background-image: $get-started-button-background;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 8px 24px;
    font-size: 25px;
    cursor: pointer;
    border-radius: $manna-border-radius;
    min-width: 300px;
    border: 0px;

    :disabled {
        background-image: None;
        background-color: gray;
    }
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.image-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 50%;
    background: linear-gradient(
        120deg,
        $image-logo-start 0%,
        $image-logo-end 13%
    );
    &--footer {
        width: 2rem;
        height: 2rem;
    }
}
.text-daily-manna {
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 35px;
    &--description {
        color: var(--surface-300);
        padding: 10px;
    }
}
.boxes-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
/* For Webkit browsers like Chrome, Safari */
.boxes-container::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.outer-gradiant-border-box{
    width: calc(33.33% - 20px);
    min-width: 300px;
    margin: 10px;
    border-radius: 12px;
    padding: 5px;
    background: linear-gradient(
        180deg,
        $gradient-border-box-start 50%,
        $gradient-border-box-end 100%
    );
    &:last-child {
        margin-right: 0;
    }
}
.gradiant-border-box {
    border-radius: 10px;
    position: relative;
    background: $background-color;
    padding: 10px;
    text-align: start;
}
.outer-gradiant-border-links {
    display: flex;
    width: fit-content;
    border-radius: 20px;
    padding: 3px;
    background: linear-gradient(
        90deg,
        $gradient-border-start 50%,
        $gradient-border-end 100%
    );
}
.gradiant-border-links {
    border-radius: 20px;
    position: relative;
    background: $background-color;
    padding: 7px;
    text-align: start;
    padding: 4px 15px 4px 20px;
}


.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.box-image {
    width: 45px;
    height: 50px;
    border-radius: 4px;
}

h3 {
    margin: 0;
    font-size: 1.2rem;
}
.card-discription {
    height: 60px;
}
.link-card {
    display: flex;
    justify-content: start;
}
.link-card-main {
    display: flex;
    justify-content: start;
    color:$links-color-main ;
}
.ecosystem {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    align-items: stretch;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &--items {
        flex: 1;
        margin: 10px;
        display: flex;
        &--item1 {
            width: 30%;
            align-items: stretch;
            justify-content: start;
            padding: 20px 5px 30px 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--item2 {
            width: 45%;
            min-width: 500px;
            align-items: center;
            justify-content: center;
            display: flex;
        }
    }
}

.community {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &--govern {
        width: 40%;
        box-shadow: 2px;
        border-radius: 20px;
        background-image: url("../../assets/images/governed_background.webp");
        background-size: cover;
        display: flex-column;
        gap: 2px;
        padding: 20px;
        text-align: start;
        &--allHumans{
            font-size: 40px;
            margin-bottom: 20px;
            color: $gradient-border-start;
        }
    }
    &--boxes {
        // margin-top: 20px;
        width: 45%;
        justify-content: start;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--box {
            // margin: 10px;
            border-radius: 12px;
            padding: 3px;
            // height: auto;
            background: linear-gradient(
                180deg,
                $gradient-border-box-start 50%,
                $gradient-border-box-end 100%
            );
        }
    }
}
.developers {
    display: flex;
    flex-direction: column;
    width: 65%;
    flex-direction: column;
    max-height: max-content;
    gap: 10px;
}
.developer {
    position: relative;
    background-image: $developer-main-background;
    background-size: cover;
    display: flex-column;
    padding: 50px 20px 50px 20px;
    min-height: 300px;
    border: 5px solid white;
    border-radius: $manna-border-radius;
    margin-bottom: 10px;
    &--img {
        text-align: end;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20%;
    }
}
.under-developer-container {
    display: flex;
    gap: 1rem;
    width: 100%;
}
.under-developer {
    width: 48%;
    box-shadow: 2px;
    border: 5px solid white;
    border-radius: 20px;
    background-image: $developer-under-background;
    background-size: cover;
    display: flex-column;
    gap: 2px;
    padding: 20px;
    text-align: start;
}
.funding {
    min-height: 300px;
    width: 30%;
    box-shadow: 2px;
    background-image: $developer-under-background;
    background-size: cover;
    display: flex-column;
    gap: 2px;
    padding: 0px 20px 20px 0px;
    border: 5px solid white;
    border-radius: $manna-border-radius;
    &--read-more {
        border: 3px solid white;
        border-radius: $manna-border-radius;
        margin: 15px 0px 0px 15px;
        padding: 5px;
    }
}


@media #{$tablet} {
    .blocks {
        width: $width-of-mainPage-tablet;
    }
    .full-height {
        display: none;
    }
    .full-height-mobile {
        display: flex;
    }
    .text-daily-manna {
        justify-content: center;
        align-items: center;
        font-size: 30px;
        &--description {
            text-align: center;
        }
    }
    .flex-item {
        flex-basis: 100%;
    }
    .info-box {
        width: 100%;
        flex-direction: row;
    }
    .flex-container {
        padding: 0px 20px 0px 20px;
        &--items {
            &--item1 {
                width: 100%;
                margin-bottom: 20px;
                min-width: 0px;
            }
            &--item2 {
                width: 100%;
                min-width: 0px;
            }
        }
    }
    .community--show {
        display: none;
    }
    .developers {
        width: 100%;
    }
    .developer {
        min-height: none;
    }
    .under-developer-container {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        margin-bottom: 30px;
        width: 90%;
    }
    .under-developer {
        width: 100%;
        background-image: $developer-main-background;
        margin-bottom: 10px;
    }
    .funding {
        width: 100%;
    }
    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        display: flex;
    }
}
@media #{$mobile} {
    .blocks {
        width: $width-of-mainPage-mobile;
    }
    .full-height {
        display: none;
    }
    .full-height-mobile {
        display: flex;
    }
    .text-daily-manna {
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 30px;
        &--description {
            text-align: center;
        }
    }
    .flex-item {
        flex-basis: 100%;
    }
    .info-box {
        width: 100%;
        flex-direction: row;
    }
    .flex-container {
        padding: 0px 20px 0px 20px;
        &--items {
            &--item1 {
                width: 100%;
                margin-bottom: 20px;
                min-width: 0px;
            }
            &--item2 {
                width: 100%;
                min-width: 0px;
            }
        }
    }
    .community--show {
        display: none;
    }
    .developers {
        width: 100%;
    }
    .developer {
        min-height: none;
    }
    .under-developer-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        row-gap: 5px;
        margin-bottom: 30px;
        width: 85%;
    }
    .under-developer {
        width: 100%;
        background-image: $developer-main-background;
        margin-bottom: 10px;
    }
    .funding {
        width: 100%;
    }
    .footer-desktop {
        display: none;
    }
    .footer-mobile {
        display: flex;
    }
}
