.image-logo {
  width: 3rem;
}

.claim {
  background-image: url('../../assets/images/developer_background.webp');
}

.button-get-started {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.tabes {
  height: 100vh;
}


.container {
  display: flex;
  height: 100vh;
}

.tabs {
  min-width: 300px;
  background-color: black;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  color: #f2f2f2;
  margin: 10px;
}

.tab.active {
  background-color: #383838;
  border-radius: var(--manna-border-radius);
  border-radius: 20px;
}

.tab:hover{
  background-color: #797777;
  border-radius: var(--manna-border-radius);
  border-radius: 20px;
}
.tab-width{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;

}
.tab__text {
  font-size: large;
  font-weight: 700;
}

.tab-image {
  height: 30px;
  margin-right: 1rem;
  color: #282828;
}

.tab.active .tab-image {
  color: #f2f2f2;
}


.content {
  flex: 1;
  padding: 10px;
}

.tabPage {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.page {
  min-width: 700px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .tabs {
    width: 100%;
  }

  .content {
    padding-top: 20px;
  }
  .page {
    min-width: 300px;
  }
}
