@import "../../variables";
.container {
    display: flex;
    height: 100vh;
}
.banner {
    position: sticky;
    top: 0;
    background-color: $gray-text;
    color: white;
    padding: 10px 20px;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--close {
        font-size: 40px;
        cursor: pointer;
    }

    &--text {
        flex-grow: 1;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        margin: 0;
    }
}

.hambergur {
    display: none;
    &--container{
        display: flex;
        flex-direction: column;
        width: 100%;
        // background-color:#8A8C91 ;
        height: 100vh;
    }
    &--logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: #c4c4c423;
        height: 50px;
        &--image {
            width: 15px;
            height:20px;
        }
        &--text {
            font-size: 16px;
            font-weight: 800;
        }
    }
    &--tabs {
        min-width: 300px;
        &--tab {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            color: #f2f2f2;
            margin: 20px 20px 20px 30px;
            background-color: #c4c4c423;
            border-radius: 5px;
            &--address{
                display: flex;
                align-items: center;
            }
            &--image {
                height: 30px;
                margin-right: 1rem;
                color: #282828;
            }
        }
        &--tab.active {
            background-color: #df486b42;
            border-radius: var(--manna-border-radius);
            border-radius: 5px;
            position: relative;
        }
        &--tab:hover {
            background-color: #df486bbb;
            border-radius: 5px;
        }
    }
    &--user{
        justify-self: end;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c4c4c423;
        padding: 10px;
        &--image{
            width: 40px;
        }
        &--feature{
            margin-left: 5px;
            &--name{
                font-size: 14px;
            }
            &--email{
                font-size: 12px;
                color: $gray-text;
            }
        }
    }
}
.header-mobile{
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #262626;
    width: 100%;
    height: 50px;
    padding-left:10px;
    &--title{
        font-size: 15px;
        font-weight: 700;
    }
    &--search{
        width: 20px;
        margin-right: 40px;
    }
}
.hamburger-menu.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}


.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1D1D1D;
}
.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 50px 0px 50px 0px;
    cursor: pointer;
}
.account-wallet {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 5px;
    background-color: #797777;
    border-radius: 5px;
    margin-bottom: 30px;
    &--number {
        display: flex;
        font-size: 12px;
        margin: 0px;
    }
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    &--img{
        margin-top: -3px;
        width: 50px;
    }
    &--text {
        color: $gray-text;
        font-style: italic;
        margin: 0px;
    }
    &--text-verify{
        color: #7AD178;
        font-style: italic;
        margin: 0px;
    }
}

.claim {
    background-image: url("../../assets/images/developer_background.webp");
}

.button-get-started {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.tabes {
    height: 100vh;
}

.tabs {
    height: 100%;
    min-width: 300px;
}

.tab {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: #f2f2f2;
    margin: 20px 20px 20px 30px;
}

.tab.active {
    background-color: #df486b42;
    border-radius: var(--manna-border-radius);
    border-radius: 5px;
    position: relative;
}

.tab:hover {
    background-color: #df486bbb;
    border-radius: 5px;
}
.tab.active::before {
    content: "";
    width: 5px;
    background-color: #df486b;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    border-radius: 5px;
}
.tab-width {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    width: 150px;
}
.tab__text {
    font-size: large;
    font-weight: 700;
}

.tab-image {
    height: 30px;
    margin-right: 1rem;
    color: #282828;
}

.tab.active .tab-image {
    color: #f2f2f2;
}

.content {
    flex: 1;
    padding: 10px;
}

.tabPage {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}
@media #{$tablet} {
    .banner{
        &--text{
            font-size: 15px;
        }
    }
    .header-mobile{
        display: flex;
    }
    .hambergur {
        display: flex;
    }
    .container {
        flex-direction: column;
    }
    .sideBar {
        display: none;
    }

    .tabs {
        min-width: 0px;
        width: 100%;
    }
    .tab-width {
        width: 100px;
    }
    .content {
        padding-top: 20px;
    }
    .tabPage {
        height:100vh;
    }
    .page {
        min-width: 300px;
        padding: 10px;
    }
}
@media #{$mobile} {
    .banner{
        &--text{
            font-size: 15px;
        }
    }
    .header-mobile{
        display: flex;
    }
    .hambergur {
        display: flex;
    }
    .container {
        flex-direction: column;
    }
    .sideBar {
        display: none;
    }

    .tabs {
        min-width: 0px;
        width: 100%;
    }
    .tab-width {
        width: 100px;
    }
    .content {
        padding-top: 20px;
    }
    .tabPage {
        height:100vh;
    }
    .page {
        min-width: 300px;
        padding:  10px;
    }
}
