<ng-container *tuiLet="verifyService.verificationState$ | async as verificationState" >
    <div
    class="container"
    
>
    <div class="sideBar">
        <div routerLink="/" class="logo">
            <img
                src="../../assets/images/governed_manna_logo.webp"
                class="logo-image"
            />
            <p class="mannabse-logo">mannabase</p>
        </div>
        <div class="account-wallet" *ngIf="walletAddress">
            <img src="../../assets/images/accont_wallet-circle.svg" alt="" />
            <p
                (click)="copyWalletAddress(walletAddress)"
                class="account-wallet--number"
            >
                {{ walletAddress | slice : 0 : 6 }}...{{
                    walletAddress | slice : -4
                }}
            </p>
        </div>
        <div
            *ngIf="verificationState == VerifyState.NOT_VERIFIED"
            class="user-info"
            (click)="changeTab('Wallet')"
        >
            <img
                src="../../assets/images/account-unverify-Check.svg"
                class="user-info--img"
                alt="unverified"
            />
            <p class="user-info--text">Unverified account</p>
        </div>
        <div
            *ngIf="verificationState == VerifyState.EXPIRED"
            class="user-info"
            (click)="changeTab('Wallet')"
        >
            <img
                src="../../assets/images/account-unverify-Check.svg"
                class="user-info--img"
                alt="unverified"
            />
            <p class="user-info--text">Expired account</p>
        </div>
        <div
            *ngIf="verificationState == VerifyState.VERIFIED"
            class="user-info"
            (click)="changeTab('Wallet')"
        >
            <img
                src="../../assets/images/account-verify-Check.svg"
                class="user-info--img"
                alt="verified"
            />
            <p class="user-info--text">Verified account</p>
        </div>
        <div class="tabs">
            <div
                class="tab active-line"
                [class.active]="selectedTab === 'Account'"
                (click)="changeTab('Account')"
            >
                <div class="tab-width">
                    <img
                        src="../../assets/images/account-wallet-icon.svg"
                        [class.active]="selectedTab === 'Account'"
                        class="tab-image"
                    />
                    <span class="tab__text">Wallet</span>
                </div>
            </div>
            <div
                class="tab active-line"
                [class.active]="selectedTab === 'Wallet'"
                (click)="changeTab('Wallet')"
            >
                <div class="tab-width">
                    <img
                        src="../../assets/images/account-account-icon.svg"
                        class="tab-image"
                    />
                    <span
                        class="tab__text"
                        [class.active]="selectedTab === 'Wallet'"
                        >Account</span
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- mobile hamburger menu -->
    <div class="header-mobile">
        <button
            class="hambergur"
            tuiIconButton
            iconStart="@tui.menu"
            appearance="flat"
            size="s"
            (click)="toggleSideBar(true)"
            (tuiActiveZoneChange)="toggleSideBar($event)"
        >
            <div
                *tuiSidebar="displaySideBar; direction: 'left'"
                class="hambergur--container"
            >
                <div routerLink="/" class="hambergur--logo">
                    <img
                        src="../../assets/images/governed_manna_logo.webp"
                        class="hambergur--logo--image"
                    />
                    <p class="hambergur--logo--text">mannabase</p>
                </div>
                <div class="tabs">
                    <div class="hambergur--tabs--tab" *ngIf="walletAddress">
                        <div class="hambergur--tabs--tab--address">
                            <img
                                src="../../assets/images/accont_wallet-circle.svg"
                                alt=""
                                class="tab-image"
                            />
                            <p class="m-0">
                                {{ walletAddress | slice : 0 : 6 }}...{{
                                    walletAddress | slice : -4
                                }}
                            </p>
                        </div>
                    </div>
                    <div
                        class="tab"
                        [class.active]="selectedTab === 'Account'"
                        (click)="changeTab('Account')"
                        (click)="toggleSideBar(false)"
                    >
                        <div class="tab-width">
                            <img
                                src="../../assets/images/account-wallet-icon.svg"
                                [class.active]="selectedTab === 'Account'"
                                class="tab-image"
                            />
                            <span class="tab__text">Wallet</span>
                        </div>
                    </div>
                    <div
                        class="tab"
                        [class.active]="selectedTab === 'Wallet'"
                        (click)="changeTab('Wallet')"
                        (click)="toggleSideBar(false)"
                    >
                        <div class="tab-width">
                            <img
                                src="../../assets/images/account-account-icon.svg"
                                class="tab-image"
                            />
                            <span
                                class="tab__text"
                                [class.active]="selectedTab === 'Wallet'"
                                >Account</span
                            >
                        </div>
                    </div>
                </div>
                <div class="hambergur--user">
                    <img
                        class="hambergur--logo--image"
                        src="../../assets/images/governed_manna_logo.webp"
                    />
                    <div class="hambergur--user--feature">
                        <div class="hambergur--user--feature--name">
                            mannabase
                        </div>
                    </div>
                </div>
            </div>
        </button>
        <div class="header-mobile--title">
            {{ selectedTab === "Account" ? "Wallet" : "Account" }}
        </div>
        <img class="header-mobile--search" />
    </div>

    <div class="tabPage">
        <app-wallet *ngIf="selectedTab === 'Account'" class="page"></app-wallet>
        <app-user-account
            *ngIf="selectedTab === 'Wallet'"
            class="page"
        ></app-user-account>
    </div>
</div>
</ng-container>
