@import "../../variables";
.banner {
    position: sticky;
    top: 0;
    background-color: #38dca0;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--close-button {
        font-size: 50px;
        cursor: pointer;
    }
    &--text {
        flex-grow: 1;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
    }
}
.hambergur {
    display: none;
    &--logo {
        display: flex;
        padding: 24px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background: rgba(255, 255, 255, 0.05);
        &--image {
            width: 30px;
            height: 40px;
        }
        &--text {
            font-size: 16px;
            font-weight: 800;
        }
    }
    &--tabs {
        display: flex;
        flex-direction: column;
        &--tab {
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            color: #f2f2f2;
            margin: 20px 20px 20px 30px;
            &--image {
                height: 30px;
                margin-right: 1rem;
                color: #282828;
            }
        }
        &--tab.active {
            background-color: #df486b42;
            border-radius: var(--manna-border-radius);
            border-radius: 5px;
            position: relative;
        }
        &--tab:hover {
            background-color: #df486bbb;
            border-radius: 5px;
        }
    }
}
.hamburger-menu.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.container {
    display: flex;
    height: 100vh;
}
.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 50px 0px 50px 0px;
    cursor: pointer;
    &--image {
        width: 1.5rem;
        height: 2rem;
    }
}
.account-wallet {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 5px;
    background-color: #797777;
    border-radius: 5px;
    margin-bottom: 30px;
    &--number {
        display: flex;
        font-size: 12px;
        margin: 0px;
    }
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--mannabase {
        color: $gray-text;
        margin: 0px;
    }
}

.claim {
    background-image: url("../../assets/images/developer_background.webp");
}

.button-get-started {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.tabes {
    height: 100vh;
}

.tabs {
    min-width: 300px;
}

.tab {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: #f2f2f2;
    margin: 20px 20px 20px 30px;
}

.tab.active {
    background-color: #df486b42;
    border-radius: var(--manna-border-radius);
    border-radius: 5px;
    position: relative;
}

.tab:hover {
    background-color: #df486bbb;
    border-radius: 5px;
}
.tab.active::before {
    content: "";
    width: 5px;
    background-color: #df486b;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    border-radius: 5px;
}
.tab-width {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    width: 150px;
}
.tab__text {
    font-size: large;
    font-weight: 700;
}

.tab-image {
    height: 30px;
    margin-right: 1rem;
    color: #282828;
}

.tab.active .tab-image {
    color: #f2f2f2;
}

.content {
    flex: 1;
    padding: 10px;
}

.tabPage {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.page {
    height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media #{$tablet} {
    .container {
        flex-direction: column;
    }

    .tabs {
        width: 100%;
    }

    .content {
        padding-top: 20px;
    }
    .page {
        min-width: 300px;
        padding: 10px;
    }
}
@media #{$mobile} {
    .hambergur {
        display: flex;
    }
    .container {
        flex-direction: column;
    }
    .sideBar {
        display: none;
    }

    .tabs {
        min-width: 0px;
        width: 100%;
    }
    .tab-width {
        width: 100px;
    }
    .content {
        padding-top: 20px;
    }
    .page {
        min-width: 300px;
        padding: 10px;
    }
}
