<qrcode *ngIf="qrCodeValue" [qrdata]="qrCodeValue" class="qrcode" ></qrcode>

<button tuiButton [disabled]="loading" (click)="checkVerification()">
    <tui-loader *ngIf="loading">loadin..</tui-loader>
    <ng-container *ngIf="!loading">{{state === brightIdState.VERIFIED ? 'Next' : 'Check Verification'}}</ng-container>
</button>
<button tuiButton *ngIf="state === brightIdState.UNIQUE_VERIFIED" (click)="onVerify()">Verify</button>
<p *ngIf="state && !qrCodeValue">Please click 'Check Verification' button to check your verification status.</p>

