
<div *ngIf="successMessage == false"  class="claim">
    <p>You can claim manna!</p>
    <button  tuiButton (click)="claimDailyReward()" size="m">
        Claim Daily Manna
    </button>
</div>
<div *ngIf="successMessage == true"  class="claim">
    <i class="fa-solid fa-circle-check icon" style="color: #fa8188;"></i>
    <p>
        Successfully claimed daily reward!
    </p>
    <p>
        You can witdraw them on 
        <span routerLink="/account" class="wallet">
            wallet page
          </span>
    </p>
</div>
