
<div *ngIf="!successMessage"  class="claim">
    <ng-container *ngIf="claimableAmount !== null; else mannaLoading" class="m-0">
        <p *ngIf="claimableAmount !== 0">
            {{ claimableAmount }}
            <span>
                You can cliam Manna !
            </span>
        </p>
        <p *ngIf="claimableAmount === 0">
            You have claimed your daily Manna !
        </p>
    </ng-container>
    <ng-template #mannaLoading>
        <tui-loader size="xs"></tui-loader>
    </ng-template>
    <button tuiButton (click)="claimDailyReward()" size="m" [disabled]="loader || claimableAmount === 0 ">
        <span *ngIf="!loader">Claim Daily Manna</span>
        <span *ngIf="loader">loading...</span>
    </button>
</div>
<div *ngIf="successMessage"  class="claim">
    <i class="fa-solid fa-circle-check icon" style="color: #fa8188;"></i>
    <p>
        Successfully claimed daily reward!
    </p>
    <p>
        You can witdraw them on 
        <span routerLink="/account" class="wallet">
            wallet page
          </span>
    </p>
</div>
